.nav{
	
	z-index:9999;
	position:fixed;
	background: #FFF;
	padding-bottom:30px;
	width: 100%;	
	@media screen and (max-width: 959px){
		position:relative;
		padding-bottom:0px;
	}
	
	.container {
		position:relative;
		padding:0px;
		margin:0px auto;
		width:100%;
	}
	
}