.nav__search{
	position:absolute;
	right:10px;
	top:50%;
	transform: translateY(-50%);
	height:52px;
	width:52px;
	background: url('/wp-content/themes/wes/assets/img/icon_search.png') no-repeat 100%;
	cursor: pointer;	
	@media screen and (max-width:1400px){
	    right:30px;
	    width:40px;
	    height:40px;
	    background-size: cover;
    }	    
	@media screen and (max-width:1024px){
		width:34px;
	    height:34px;
		right:20px;
    }
	  

	&__container{
		display: none;
		padding-left:346px;
		position:absolute;
		height: 140px;
		top:100%;
		width:100%;		
		@media screen and (max-width:1280px){
			padding-left:300px;
		}		
		@media screen and (max-width:1024px){
			padding-left:211px;
		}
	}
}