.nav {
	.mobile {
		.logo{
			img{
				height:74px;
				width: auto;
				margin:20px auto;
				display: block;
			}
		}
		
		.bar {
			position: relative;
			display: block;
			width: 100%;
			height:52px;
			background: $green;						
			@include transform(translate3d(0,0,0));

			&.mobile--top{
				position:fixed;
				top:0px;
				z-index:9999;
			}						
			
			.hamburger{
				width:20px;
				height:16px;
				position:absolute;
				left:20px;
				top:50%;
				margin-top:-8px;
				cursor: pointer;
				background: url('/wp-content/themes/wes/assets/img/icons_mobile_toggle.png') no-repeat;
				
				&.openNav{
					background-position: -20px 0px;
				}
			}
		}
		
		.nav__mobile{			
			display: none;
			-webkit-overflow-scrolling: touch;
			
			&.mobile--top{
				position:fixed;
				top:0px;
				bottom: 0;
				left: 0;
				z-index: 9998;
				width:100%;
				height:100%;
				padding-top: 52px;
				overflow-y: scroll;
				backgorund: transparent;
			}
			
			
			ul{
				list-style-type: none;
				margin:0px;
				padding:0px;
				background-color: #fff;
				@include transform(translate3d(0,0,0));
				
				li{
					font-size:16px;
					font-family: "montserrat_regular";
					
					&:first-child, &:nth-child(2) {
						a.drop {
							color: $text-blue;
							background-color: $grey;

							&.openDrop {
								background-color: $grey;								
							}
						}
					}
					
					 a{
						color:$green;
						text-decoration: none;
						background: #FFF;
						display:block;
						padding:16px 40px;
						border-bottom:1px solid $border-grey;
						
						&.drop{
							background: url('/wp-content/themes/wes/assets/img/arrow_nav.png') no-repeat;
							background-position: right 60px center;
							
							&.openDrop{
								background: url('/wp-content/themes/wes/assets/img/arrow_nav_down.png') no-repeat;
								background-position: right 60px center;
							}
						}
					}
					
					&.type--size{
						background: $grey;
						padding:16px 40px;
						border-bottom:1px solid $border-grey;
						color:$text-blue;
						
						a{
							margin:0px;
							padding:0px;
							color:$text-blue;
							background: none;
							display:inline-block;
							border-bottom: 0;

							&.sm{
								font-size: 12px;
							}
							
							&.md{
								font-size: 14px;
							}
							
							&.lg{
								font-size: 16px;
							}
						}
					}
					
					&.mobile--social{
						background: $green;
						text-align: center;
						padding: 12px 0px 6px;
						a{
							display: inline-block;
							height:30px;
							width:30px;
							margin:0px 10px;
							padding:0px;
							background-color: transparent;
							background: url('/wp-content/themes/wes/assets/img/social_sprite.png') no-repeat;
							background-size: 1200%;
							border-bottom: none;
							@media screen and (max-width: 320px) {
								width: 25px;
								height: 25px;
							}	

							&.linkedin{
								background-position: 17% 0;
							}
							
							&.blog{
								background-position: 34% 0;
							}
							
							&.facebook{
								background-position: 51% 0;
							}
							
							&.youtube{
								background-position: 68% 0;
							}
							
							&.vimeo{
								background-position: 85% 0;
							}
						}
					}
					
					ul{
						display:none;
						margin: 0px;
						border-bottom:1px solid $border-grey;
						
						li {
							background: #FFF;

							a{
								margin:0px;
								padding:12px 60px 38px;
								font-size: 14px;
								color:$text-blue;
								border-bottom: none;

								&:last-child{
									padding:12px 60px 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}