.nav__main{
	position: relative;
	width: 100%;
	background: $green;
	
	img.logo{
		margin-left: 10px;
		float:left;
		width:auto;
		@media screen and (max-width:1280px){
		    height:110px;
	    }	    
	    @media screen and (max-width:1024px){
		    height:76px;
	    }
	}
	
	ul{
		float: left;
		margin:6px 0px 0px 0px;
		padding:0px;
		list-style-type: none;
		
		@media screen and (max-width:1400px){
			margin:0px;
		}
		
		li{
			display: block;
			float:left;
			
			a{
				color: #fff;
			    background-color: transparent !important;
			    font-family: "montserrat_regular";
			    letter-spacing: 1px;
			    font-size: 20px;
			    text-decoration: none;
			    display: block;
			    padding: 46px 26px;
			    @media screen and (max-width:1400px){
				    font-size: 20px;
				    padding: 49px 24px;
			    }			    
			    @media screen and (max-width:1280px){
				    font-size: 18px;
				    padding: 41px 22px;
			    }			    
			    @media screen and (max-width:1160px){
				    font-size: 16px;
				    padding: 41px 20px;
			    }			    
			    @media screen and (max-width:1080px){
				    padding: 41px 14px;
			    }			    
			    @media screen and (max-width:1024px){
				    padding: 27px 18px;
			    }
			    
			    &:hover{
				    text-decoration: underline;
			    }

			    &:focus, &:active {
			    	outline: 0;
			    }			    
			}
			
			ul{
				position:absolute;
				top:100%;
				background: #e9e8e6;
				margin-top: 2px;
				display: none;
				
				li{
					float: none;
					
					a{
						display: block;
						margin:0px;
						padding: 12px 22px;
						color: $text-blue;
						font-size: 16px;

						&:hover{
							background: $green !important;
							color:#FFF;
							text-decoration: none;
						}
						
						@media screen and (max-width:1280px){
							font-size: 14px;
							padding: 14px 18px;
						}
					}
				}
			}
		}
	}
}