.nav__top {
	position: relative;
	width:100%;
	background:#FFF;
	height: 60px;
	
	ul{
		
		float: left;
		margin:6px 0px 0px 350px;
		padding:0px;
		list-style-type: none;
		@media screen and (min-width: 1341px) and (max-width: 1354px){
			margin:6px 0px 0px 335px;
		}
		@media screen and (max-width:1340px){
			margin:0px 0px 0px 335px;
		}
		@media screen and (max-width:1280px){
			margin:0px 0px 0px 300px;
		}		
		@media screen and (max-width:1024px){
			margin:0px 0px 0px 202px;
		}
		
		li{
			display: block;
			float:left;
			position:relative;

			&.language {

				.main--drop--option {
					padding-left: 30px;
				}		    	
		    }

		    &.country {

		    	.main--drop--option {
					padding-left: 32px;
				}
		    }
			
			a{
				width: 100%;
				padding:16px 0px 16px 0px;
			    margin:0px 90px 0px 26px;
				display: inline-block;
				font-family: "montserrat_regular";
			    font-size:14px;			    			   
			    color: $text-blue;;
			    letter-spacing: 1px;
			    cursor: pointer;			     
			    @media screen and(max-width:1340px){
				    padding:18px 0px 18px 0px;
				    margin:0px 60px 0px 26px;
				    font-size:14px;
			    }			    
			     @media screen and(max-width:1280px){
				    padding:18px 0px 18px 0px;
				    margin:0px 30px 0px 26px;
				    font-size:14px;
			    }

			    &.main--drop--selected{
				    display: block;

				    .drop_arrow {
				    	display: inline-block;
				    }
			    }

			    &.main--drop--option{
				    position:absolute;
				    top:100%;
				    z-index:999;
				    background: #FFF;
				    width: 110%;
				    left: -3%;
				    margin: 0px;
				    display: none;
				    
				    .drop_arrow {
				    	display: none;
				    }
			    }

			    .drop_arrow {
					width: 20px;
					height: 10px;				
					background: url("/wp-content/themes/wes/assets/img/arrow_main_nav_down.png") no-repeat;
					@media screen and (max-width:1280px){
						background-position: right 2px center;
					}
				}
				    
			    &:hover{
				    text-decoration: underline;
			    }

			    &:focus, &:active {
			    	outline: 0;
			    }			    
			    
			    .us-flag{
				    display: inline-block;
				    background: url("/wp-content/themes/wes/assets/img/us_flag.jpg") no-repeat;
				    width:33px;
				    height:20px;
				    vertical-align: middle;
				    margin-right: 10px;
			    }
			    
			    .ca-flag{
				    display: inline-block;
				    background: url("/wp-content/themes/wes/assets/img/ca_flag.png") no-repeat;
				    width:33px;
				    height:20px;
				    vertical-align: middle;
				    margin-right: 10px;
			    }			    
			   
			}
		}
	}
}