
/*------------------------
	Nav Hamburger
--------------------------*/
.nav-hamburger {	
	position: relative;
	display: inline-block;
	width: 35px;
	height: 24px;
	@include transform(rotate(0deg));
	@include transition(.5s ease-in-out);
	cursor: pointer;
	@media screen and (min-width: 960px) {
		display: none;
	}

	span {
		position: absolute;
		left: 15px;
		display: block;			
		width: 100%;
		height: 4px;
		background: #fff;
		border-radius: 9px;
		opacity: 1;		
		@include transform(rotate(0deg));
		@include transition(.25s ease-in-out);	

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 10px;
		}

		&:nth-child(3) {
			top: 20px;
		}		
	}

	&.open {

		span {
			@include transform-origin(left center);

			&:nth-child(1) {				
				@include transform(rotate(45deg));
			}

			&:nth-child(2) {
				width: 0%;
				opacity: 0;
			}

			&:nth-child(3) {
				top: 24px;
				@include transform(rotate(-45deg));	
			}
			
		}		
	}
}