/*!
Theme Name:   	World Education Services Theme
Author:       	BNO Inc.
Author URI:		http://www.bnoinc.com
Version: 0.1.0
*/
/*-----------------------------------
	Border Radius
------------------------------------*/
/*-----------------------------------
	Transiton
------------------------------------*/
/*-----------------------------------
	Transform
------------------------------------*/
/*-----------------------------------
	Transform-Origin
------------------------------------*/
/*--------------------------
	Color Variables
---------------------------*/
/*--------------------------
	Global Classes - for backgrounds, etc.
---------------------------*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
.bg_grey {
  background-color: #f4f3f3; }

/*------------------------------------
  Break - Global
--------------------------------------*/
.break {
  display: block; }

/*------------------------------------
  Show/Hide - Global
--------------------------------------*/
.show {
  display: block; }

.hide {
  display: none; }

/*------------------------------------
  Opacity - Global
--------------------------------------*/
.opaque {
  opacity: 0.5; }
  .opaque--nav_display {
    opacity: 0.1; }

/*------------------------------------
  No Scroll
--------------------------------------*/
.no_scroll {
  overflow: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*-----------------------
	Fonts
------------------------*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url("/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.eot");
  src: font-url("/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), font-url("/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.woff ") format("woff"), font-url("/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.ttf ") format("truetype"), font-url("/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'montserrat_regular';
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.eot");
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.woff2") format("woff2"), url("/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.woff") format("woff"), url("/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.ttf") format("truetype"), url("/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat_light';
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.eot");
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.woff2") format("woff2"), url("/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.woff") format("woff"), url("/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.ttf") format("truetype"), url("/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemi_bold';
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.eot");
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.woff2") format("woff2"), url("/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.woff") format("woff"), url("/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.ttf") format("truetype"), url("/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.svg#montserratsemi_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat_bold';
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.eot");
  src: url("/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.woff") format("woff"), url("/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.ttf") format("truetype"), url("/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*------------------------
	Typography
--------------------------*/
/*------------------------------------
  DOM Element Layouts
--------------------------------------*/
html, body {
  width: auto !important;
  overflow-x: hidden !important; }
  html.noScroll, body.noScroll {
    overflow: hidden !important;
    height: 100%;
    width: 100% !important; }

/***********************************
    Overwrite Bootstrap Defaults
************************************/
.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 100%; } }
  @media (min-width: 992px) {
    .container {
      width: 100%; } }
  @media (min-width: 1200px) {
    .container {
      width: 100%;
      max-width: 1440px; } }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 20px;
  padding-left: 20px; }

/*------------------------------------
  Sections
--------------------------------------*/
.section {
  margin: 100px 0; }
  @media screen and (max-width: 831px) {
    .section {
      margin: 40px 0; } }
  .section__title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 46px;
    font-family: "montserrat_light";
    font-weight: 400;
    color: #003763;
    letter-spacing: 2px; }
    @media screen and (max-width: 831px) {
      .section__title {
        font-size: 40px;
        margin-bottom: 40px; } }
    @media screen and (max-width: 600px) {
      .section__title {
        font-size: 24px;
        margin-bottom: 30px !important; } }
    .section__title--green {
      color: #05ce7b; }
    .section__title span {
      font-family: "montserratsemi_bold";
      font-weight: 700;
      color: #05ce7b; }

/*------------------------------------
  Desktop/Mobile Display - Global
--------------------------------------*/
@media screen and (max-width: 959px) {
  .desktop {
    display: none !important; } }

@media screen and (max-width: 959px) {
  .mobile {
    display: block; }
    .mobile--inline {
      display: inline-block; } }
@media screen and (min-width: 960px) {
  .mobile {
    display: none !important; } }

.button {
  display: block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  text-align: center; }
  .button:hover, .button:focus, .button:active {
    text-decoration: none; }
  .button--lg {
    width: 360px;
    padding: 14px 5px;
    font-size: 40px; }
  .button--sm {
    width: 180px;
    padding: 6px 24px;
    font-family: 'montserratsemi_bold'; }
    @media screen and (max-width: 831px) {
      .button--sm {
        width: 155px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px; } }

/*-----------------------------------
	Carousel
-------------------------------------*/
.carousel {
  padding-bottom: 100px; }
  @media screen and (max-width: 831px) {
    .carousel {
      padding-bottom: 40px; }
      .carousel#quotes-slider {
        padding-bottom: 60px; } }
  .carousel-indicators {
    bottom: 0; }
    .carousel-indicators li {
      width: 14px;
      height: 14px;
      margin: 0 30px;
      background-color: #003763; }
      @media screen and (max-width: 680px) {
        .carousel-indicators li {
          width: 12px;
          height: 12px;
          margin: 0 15px; } }
      .carousel-indicators li.active {
        width: 14px;
        height: 14px;
        margin: 0 30px;
        background-color: #05ce7b; }
        @media screen and (max-width: 680px) {
          .carousel-indicators li.active {
            width: 12px;
            height: 12px;
            margin: 0 15px; } }
      .carousel-indicators li.quotes {
        background-color: #fff;
        border: none; }
        .carousel-indicators li.quotes.active {
          background-color: #003763; }
    @media screen and (max-width: 831px) {
      .carousel-indicators.quotes {
        width: 100%;
        margin-left: -50%; } }
  .carousel-inner .item {
    text-align: center; }

/*-----------------------------------
	Carousel Controls
-------------------------------------*/
.carousel-control {
  width: auto;
  opacity: 1; }
  @media screen and (max-width: 831px) {
    .carousel-control {
      display: none; } }
  .carousel-control.left {
    background-image: none !important; }
    .carousel-control.left .glyphicon-chevron-left {
      left: 20px;
      margin-left: 0;
      color: #003763; }
    .carousel-control.left .carousel_prev {
      width: 40px;
      height: 80px;
      background: url("/wp-content/themes/wes/assets/img/carousel_controls.png") no-repeat;
      margin-top: 40px;
      margin-left: 20px; }
      @media screen and (max-width: 1023px) {
        .carousel-control.left .carousel_prev {
          width: 20px;
          height: 40px;
          background-size: 200%;
          margin-top: 60px; } }
  .carousel-control.right {
    background-image: none !important; }
    .carousel-control.right .glyphicon-chevron-right {
      right: 20px;
      margin-right: 0;
      color: #003763; }
    .carousel-control.right .carousel_next {
      width: 40px;
      height: 80px;
      background: url("/wp-content/themes/wes/assets/img/carousel_controls.png") no-repeat right;
      margin-top: 40px;
      margin-right: 20px; }
      @media screen and (max-width: 1023px) {
        .carousel-control.right .carousel_next {
          width: 20px;
          height: 40px;
          background-size: 200%;
          margin-top: 60px; } }

.nav {
  z-index: 9999;
  position: fixed;
  background: #FFF;
  padding-bottom: 30px;
  width: 100%; }
  @media screen and (max-width: 959px) {
    .nav {
      position: relative;
      padding-bottom: 0px; } }
  .nav .container {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    width: 100%; }

/*------------------------
	Nav Hamburger
--------------------------*/
.nav-hamburger {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  @media screen and (min-width: 960px) {
    .nav-hamburger {
      display: none; } }
  .nav-hamburger span {
    position: absolute;
    left: 15px;
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    .nav-hamburger span:nth-child(1) {
      top: 0; }
    .nav-hamburger span:nth-child(2) {
      top: 10px; }
    .nav-hamburger span:nth-child(3) {
      top: 20px; }
  .nav-hamburger.open span {
    moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center; }
    .nav-hamburger.open span:nth-child(1) {
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav-hamburger.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .nav-hamburger.open span:nth-child(3) {
      top: 24px;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.nav__top {
  position: relative;
  width: 100%;
  background: #FFF;
  height: 60px; }
  .nav__top ul {
    float: left;
    margin: 6px 0px 0px 350px;
    padding: 0px;
    list-style-type: none; }
    @media screen and (min-width: 1341px) and (max-width: 1354px) {
      .nav__top ul {
        margin: 6px 0px 0px 335px; } }
    @media screen and (max-width: 1340px) {
      .nav__top ul {
        margin: 0px 0px 0px 335px; } }
    @media screen and (max-width: 1280px) {
      .nav__top ul {
        margin: 0px 0px 0px 300px; } }
    @media screen and (max-width: 1024px) {
      .nav__top ul {
        margin: 0px 0px 0px 202px; } }
    .nav__top ul li {
      display: block;
      float: left;
      position: relative; }
      .nav__top ul li.language .main--drop--option {
        padding-left: 30px; }
      .nav__top ul li.country .main--drop--option {
        padding-left: 32px; }
      .nav__top ul li a {
        width: 100%;
        padding: 16px 0px 16px 0px;
        margin: 0px 90px 0px 26px;
        display: inline-block;
        font-family: "montserrat_regular";
        font-size: 14px;
        color: #003763;
        letter-spacing: 1px;
        cursor: pointer; }
        @media screen and (max-width: 1340px) {
          .nav__top ul li a {
            padding: 18px 0px 18px 0px;
            margin: 0px 60px 0px 26px;
            font-size: 14px; } }
        @media screen and (max-width: 1280px) {
          .nav__top ul li a {
            padding: 18px 0px 18px 0px;
            margin: 0px 30px 0px 26px;
            font-size: 14px; } }
        .nav__top ul li a.main--drop--selected {
          display: block; }
          .nav__top ul li a.main--drop--selected .drop_arrow {
            display: inline-block; }
        .nav__top ul li a.main--drop--option {
          position: absolute;
          top: 100%;
          z-index: 999;
          background: #FFF;
          width: 110%;
          left: -3%;
          margin: 0px;
          display: none; }
          .nav__top ul li a.main--drop--option .drop_arrow {
            display: none; }
        .nav__top ul li a .drop_arrow {
          width: 20px;
          height: 10px;
          background: url("/wp-content/themes/wes/assets/img/arrow_main_nav_down.png") no-repeat; }
          @media screen and (max-width: 1280px) {
            .nav__top ul li a .drop_arrow {
              background-position: right 2px center; } }
        .nav__top ul li a:hover {
          text-decoration: underline; }
        .nav__top ul li a:focus, .nav__top ul li a:active {
          outline: 0; }
        .nav__top ul li a .us-flag {
          display: inline-block;
          background: url("/wp-content/themes/wes/assets/img/us_flag.jpg") no-repeat;
          width: 33px;
          height: 20px;
          vertical-align: middle;
          margin-right: 10px; }
        .nav__top ul li a .ca-flag {
          display: inline-block;
          background: url("/wp-content/themes/wes/assets/img/ca_flag.png") no-repeat;
          width: 33px;
          height: 20px;
          vertical-align: middle;
          margin-right: 10px; }

.nav__main {
  position: relative;
  width: 100%;
  background: #05ce7b; }
  .nav__main img.logo {
    margin-left: 10px;
    float: left;
    width: auto; }
    @media screen and (max-width: 1280px) {
      .nav__main img.logo {
        height: 110px; } }
    @media screen and (max-width: 1024px) {
      .nav__main img.logo {
        height: 76px; } }
  .nav__main ul {
    float: left;
    margin: 6px 0px 0px 0px;
    padding: 0px;
    list-style-type: none; }
    @media screen and (max-width: 1400px) {
      .nav__main ul {
        margin: 0px; } }
    .nav__main ul li {
      display: block;
      float: left; }
      .nav__main ul li a {
        color: #fff;
        background-color: transparent !important;
        font-family: "montserrat_regular";
        letter-spacing: 1px;
        font-size: 20px;
        text-decoration: none;
        display: block;
        padding: 46px 26px; }
        @media screen and (max-width: 1400px) {
          .nav__main ul li a {
            font-size: 20px;
            padding: 49px 24px; } }
        @media screen and (max-width: 1280px) {
          .nav__main ul li a {
            font-size: 18px;
            padding: 41px 22px; } }
        @media screen and (max-width: 1160px) {
          .nav__main ul li a {
            font-size: 16px;
            padding: 41px 20px; } }
        @media screen and (max-width: 1080px) {
          .nav__main ul li a {
            padding: 41px 14px; } }
        @media screen and (max-width: 1024px) {
          .nav__main ul li a {
            padding: 27px 18px; } }
        .nav__main ul li a:hover {
          text-decoration: underline; }
        .nav__main ul li a:focus, .nav__main ul li a:active {
          outline: 0; }
      .nav__main ul li ul {
        position: absolute;
        top: 100%;
        background: #e9e8e6;
        margin-top: 2px;
        display: none; }
        .nav__main ul li ul li {
          float: none; }
          .nav__main ul li ul li a {
            display: block;
            margin: 0px;
            padding: 12px 22px;
            color: #003763;
            font-size: 16px; }
            .nav__main ul li ul li a:hover {
              background: #05ce7b !important;
              color: #FFF;
              text-decoration: none; }
            @media screen and (max-width: 1280px) {
              .nav__main ul li ul li a {
                font-size: 14px;
                padding: 14px 18px; } }

.nav__search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 52px;
  width: 52px;
  background: url("/wp-content/themes/wes/assets/img/icon_search.png") no-repeat 100%;
  cursor: pointer; }
  @media screen and (max-width: 1400px) {
    .nav__search {
      right: 30px;
      width: 40px;
      height: 40px;
      background-size: cover; } }
  @media screen and (max-width: 1024px) {
    .nav__search {
      width: 34px;
      height: 34px;
      right: 20px; } }
  .nav__search__container {
    display: none;
    padding-left: 346px;
    position: absolute;
    height: 140px;
    top: 100%;
    width: 100%; }
    @media screen and (max-width: 1280px) {
      .nav__search__container {
        padding-left: 300px; } }
    @media screen and (max-width: 1024px) {
      .nav__search__container {
        padding-left: 211px; } }

.nav .mobile .logo img {
  height: 74px;
  width: auto;
  margin: 20px auto;
  display: block; }
.nav .mobile .bar {
  position: relative;
  display: block;
  width: 100%;
  height: 52px;
  background: #05ce7b;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .nav .mobile .bar.mobile--top {
    position: fixed;
    top: 0px;
    z-index: 9999; }
  .nav .mobile .bar .hamburger {
    width: 20px;
    height: 16px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    background: url("/wp-content/themes/wes/assets/img/icons_mobile_toggle.png") no-repeat; }
    .nav .mobile .bar .hamburger.openNav {
      background-position: -20px 0px; }
.nav .mobile .nav__mobile {
  display: none;
  -webkit-overflow-scrolling: touch; }
  .nav .mobile .nav__mobile.mobile--top {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    padding-top: 52px;
    overflow-y: scroll;
    backgorund: transparent; }
  .nav .mobile .nav__mobile ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .nav .mobile .nav__mobile ul li {
      font-size: 16px;
      font-family: "montserrat_regular"; }
      .nav .mobile .nav__mobile ul li:first-child a.drop, .nav .mobile .nav__mobile ul li:nth-child(2) a.drop {
        color: #003763;
        background-color: #e9e8e6; }
        .nav .mobile .nav__mobile ul li:first-child a.drop.openDrop, .nav .mobile .nav__mobile ul li:nth-child(2) a.drop.openDrop {
          background-color: #e9e8e6; }
      .nav .mobile .nav__mobile ul li a {
        color: #05ce7b;
        text-decoration: none;
        background: #FFF;
        display: block;
        padding: 16px 40px;
        border-bottom: 1px solid #dad8d6; }
        .nav .mobile .nav__mobile ul li a.drop {
          background: url("/wp-content/themes/wes/assets/img/arrow_nav.png") no-repeat;
          background-position: right 60px center; }
          .nav .mobile .nav__mobile ul li a.drop.openDrop {
            background: url("/wp-content/themes/wes/assets/img/arrow_nav_down.png") no-repeat;
            background-position: right 60px center; }
      .nav .mobile .nav__mobile ul li.type--size {
        background: #e9e8e6;
        padding: 16px 40px;
        border-bottom: 1px solid #dad8d6;
        color: #003763; }
        .nav .mobile .nav__mobile ul li.type--size a {
          margin: 0px;
          padding: 0px;
          color: #003763;
          background: none;
          display: inline-block;
          border-bottom: 0; }
          .nav .mobile .nav__mobile ul li.type--size a.sm {
            font-size: 12px; }
          .nav .mobile .nav__mobile ul li.type--size a.md {
            font-size: 14px; }
          .nav .mobile .nav__mobile ul li.type--size a.lg {
            font-size: 16px; }
      .nav .mobile .nav__mobile ul li.mobile--social {
        background: #05ce7b;
        text-align: center;
        padding: 12px 0px 6px; }
        .nav .mobile .nav__mobile ul li.mobile--social a {
          display: inline-block;
          height: 30px;
          width: 30px;
          margin: 0px 10px;
          padding: 0px;
          background-color: transparent;
          background: url("/wp-content/themes/wes/assets/img/social_sprite.png") no-repeat;
          background-size: 1200%;
          border-bottom: none; }
          @media screen and (max-width: 320px) {
            .nav .mobile .nav__mobile ul li.mobile--social a {
              width: 25px;
              height: 25px; } }
          .nav .mobile .nav__mobile ul li.mobile--social a.linkedin {
            background-position: 17% 0; }
          .nav .mobile .nav__mobile ul li.mobile--social a.blog {
            background-position: 34% 0; }
          .nav .mobile .nav__mobile ul li.mobile--social a.facebook {
            background-position: 51% 0; }
          .nav .mobile .nav__mobile ul li.mobile--social a.youtube {
            background-position: 68% 0; }
          .nav .mobile .nav__mobile ul li.mobile--social a.vimeo {
            background-position: 85% 0; }
      .nav .mobile .nav__mobile ul li ul {
        display: none;
        margin: 0px;
        border-bottom: 1px solid #dad8d6; }
        .nav .mobile .nav__mobile ul li ul li {
          background: #FFF; }
          .nav .mobile .nav__mobile ul li ul li a {
            margin: 0px;
            padding: 12px 60px 38px;
            font-size: 14px;
            color: #003763;
            border-bottom: none; }
            .nav .mobile .nav__mobile ul li ul li a:last-child {
              padding: 12px 60px 12px; }

/*--------------------
	Desktop
----------------------*/
.nav__search__box {
  position: relative;
  background: #dad8d6;
  padding: 18px 6px 18px 18px;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .nav__search__box {
      padding: 16px 0px 16px 16px; } }
  .nav__search__box input {
    display: inline-block;
    border: none;
    outline: none; }
    .nav__search__box input::-ms-clear {
      display: none; }
    .nav__search__box input.nav--search {
      font-family: 'montserrat_regular';
      font-size: 18px;
      color: #999;
      padding: 16px;
      border: none;
      width: 74%;
      margin-left: 3px; }
      @media screen and (max-width: 1200px) {
        .nav__search__box input.nav--search {
          width: 72%;
          font-size: 18px;
          padding: 14px; } }
    .nav__search__box input.nav--search--button {
      font-family: 'montserrat_regular';
      font-size: 18px;
      color: #FFF;
      background: #05ce7b;
      padding: 16px;
      width: 20%;
      border: none;
      margin-left: -3px; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .nav__search__box input.nav--search--button {
          padding-top: 11px !important;
          vertical-align: bottom; } }
      @media screen and (max-width: 1200px) {
        .nav__search__box input.nav--search--button {
          font-size: 18px;
          padding: 14px; } }
  .nav__search__box .nav--search--close {
    width: 5%;
    display: inline-block;
    position: relative; }
    @media screen and (max-width: 1200px) {
      .nav__search__box .nav--search--close {
        width: 6%; } }
    .nav__search__box .nav--search--close .btn {
      width: 36px;
      height: 36px;
      position: absolute;
      left: 50%;
      top: -26px;
      margin-left: -20px;
      background: url("/wp-content/themes/wes/assets/img/icon_search_close.png") center center no-repeat;
      background-size: contain; }

/*--------------------
	Mobile
----------------------*/
.mobile__search {
  width: 26px;
  height: 26px;
  background: url("/wp-content/themes/wes/assets/img/icon_search.png") no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -13px;
  cursor: pointer; }
  .mobile__search__box {
    background: #dad8d6;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    display: none; }
    .mobile__search__box input {
      display: block;
      font-family: "montserrat_regular";
      border: none;
      width: 100%;
      outline: none; }
      .mobile__search__box input::-ms-clear {
        display: none; }
      .mobile__search__box input[type='text'] {
        font-size: 18px;
        color: #999;
        padding: 12px; }
      .mobile__search__box input[type="submit"] {
        background: #05ce7b;
        color: #FFF;
        font-size: 14px;
        margin-top: 10px;
        padding: 16px; }
    .mobile__search__box .mobile--search--close {
      position: absolute;
      right: 30px;
      top: 34px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: url("/wp-content/themes/wes/assets/img/icon_search_close.png") center center no-repeat;
      background-size: contain; }

/*-------------------------------------
	Social Icons - Footer
---------------------------------------*/
@media screen and (max-width: 736px) {
  .social {
    text-align: center; } }
@media screen and (max-width: 831px) {
  .social--wrapper {
    margin-bottom: 40px; } }
.social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("assets/img/social_sprite.png");
  background-size: 1200%; }
  @media screen and (min-width: 1100px) {
    .social a {
      margin-right: 10px; } }
  @media screen and (min-width: 737px) and (max-width: 1099px) {
    .social a {
      margin-right: 10px; } }
  @media screen and (max-width: 1280px) {
    .social a {
      width: 30px;
      height: 0;
      padding-bottom: 30px;
      margin-right: 10px;
      background-size: 1200%; } }
  .social a.twitter {
    background-position: 0 0; }
  .social a.linkedin {
    background-position: -56px 0; }
    @media screen and (max-width: 1280px) {
      .social a.linkedin {
        background-position: 17% 0; } }
  .social a.blog {
    background-position: -111px 0; }
    @media screen and (max-width: 1280px) {
      .social a.blog {
        background-position: 34% 0; } }
  .social a.facebook {
    background-position: -168px 0;
    /*
    @media screen and (max-width: 1280px) {
    	background-position: 51% 0;
    }
    */ }
  .social a.youtube {
    background-position: -224px 0;
    /*
    @media screen and (max-width: 1280px) {
    	background-position: 68% 0;
    }
    */ }
  .social a.vimeo {
    background-position: -280px 0;
    /*
    @media screen and (max-width: 1280px) {
    	background-position: 85% 0;
    }
    */ }

.footer {
  padding: 100px 0;
  font-size: 16px;
  font-family: 'montserrat_regular';
  background-color: #666;
  color: #fff; }
  @media screen and (max-width: 831px) {
    .footer {
      padding: 40px 0;
      font-size: 16px; } }
  .footer__menu {
    margin-bottom: 80px; }
    @media screen and (max-width: 831px) {
      .footer__menu {
        margin-bottom: 0; } }
  @media screen and (min-width: 832px) and (max-width: 991px) {
    .footer__col {
      width: 25%; } }
  .footer__col .col-title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px; }
    @media screen and (max-width: 831px) {
      .footer__col .col-title {
        display: inline-block;
        margin: 15px 0;
        font-size: 16px; } }
    .footer__col .col-title--wrapper {
      position: relative;
      cursor: pointer; }
      @media screen and (max-width: 831px) {
        .footer__col .col-title--wrapper {
          border-bottom: 1px solid #999; } }
      .footer__col .col-title--wrapper .glyphicon {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media screen and (max-width: 831px) {
          .footer__col .col-title--wrapper .glyphicon {
            display: block; } }
  .footer__col ul {
    padding: 0;
    list-style: none; }
    @media screen and (max-width: 831px) {
      .footer__col ul {
        display: none;
        margin-top: 10px; } }
    .footer__col ul li {
      margin-bottom: 25px; }
      @media screen and (max-width: 831px) {
        .footer__col ul li {
          margin-bottom: 10px;
          font-size: 14px; } }
      .footer__col ul li a {
        color: #fff; }
  .footer__cta {
    margin-bottom: 100px; }
    @media screen and (max-width: 831px) {
      .footer__cta {
        margin-bottom: 40px; } }
  @media screen and (max-width: 991px) {
    .footer__social {
      width: 100%; } }
  .footer__social .social {
    margin: 10px 0;
    text-align: left; }
    @media screen and (max-width: 831px) {
      .footer__social .social {
        display: none; } }
  .footer__links {
    font-size: 14px;
    letter-spacing: 1px; }
    .footer__links ul {
      padding: 0;
      list-style: none; }
      .footer__links ul li {
        display: inline-block;
        padding: 0 15px; }
        @media screen and (max-width: 831px) {
          .footer__links ul li.priv_pol {
            padding-left: 0;
            border-right: 1px solid #fff !important; }
          .footer__links ul li.terms_cond {
            padding: 0 0 0 15px; }
          .footer__links ul li.copyright {
            display: block;
            padding-left: 0; }
          .footer__links ul li.site_map {
            display: none; } }
        @media screen and (max-width: 359px) {
          .footer__links ul li.priv_pol {
            padding-right: 7px; }
          .footer__links ul li.terms_cond {
            padding: 0 0 0 7px; } }
        .footer__links ul li:first-child {
          padding-left: 0; }
        .footer__links ul li:not(:last-child) {
          border-right: 1px solid #fff; }
          @media screen and (max-width: 831px) {
            .footer__links ul li:not(:last-child) {
              border-right: none; } }
        .footer__links ul li a {
          color: #fff; }

.header {
  position: relative;
  padding: 50px 0;
  min-height: 230px;
  background-image: url("../wes/assets/img/header_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; }
  @media screen and (min-width: 960px) {
    .header {
      height: 420px; } }
  @media screen and (max-width: 1600px) {
    .header {
      background-position: 70% 0; } }
  @media screen and (min-width: 1120px) {
    .header {
      height: 420px;
      margin-top: 200px; } }
  @media screen and (max-width: 1119px) {
    .header {
      margin-top: 200px; } }
  @media screen and (max-width: 1040px) {
    .header {
      margin-top: 200px; } }
  @media screen and (max-width: 1024px) {
    .header {
      margin-top: 160px; } }
  @media screen and (max-width: 959px) {
    .header {
      margin-top: 0px; } }
  @media screen and (max-width: 832px) {
    .header {
      margin-top: 2px; } }
  @media screen and (max-width: 767px) {
    .header {
      padding: 0;
      background-image: url("../wes/assets/img/header_img_mob.jpg");
      background-position: 100% 0; } }
  .header__cta {
    float: none;
    margin-bottom: 50px;
    margin-left: 100px;
    width: 430px; }
    @media screen and (max-width: 1600px) {
      .header__cta {
        padding-left: 40px; } }
    @media screen and (max-width: 1024px) {
      .header__cta {
        margin-left: 50px; } }
    @media screen and (max-width: 831px) {
      .header__cta {
        padding-left: 20px; }
        .header__cta:first-child {
          margin-bottom: 20px;
          padding-top: 20px; }
        .header__cta:last-child {
          margin-bottom: 40px; } }
    @media screen and (max-width: 831px) {
      .header__cta {
        margin-left: 10px; } }
    .header__cta p {
      margin-bottom: 15px;
      font-size: 22px;
      font-family: "montserrat_light";
      font-weight: 400;
      color: #003763;
      text-align: center;
      letter-spacing: 1px; }
      @media screen and (max-width: 1160px) {
        .header__cta p {
          width: 350px;
          font-size: 18px;
          margin-bottom: 8px; } }
      @media screen and (max-width: 831px) {
        .header__cta p {
          width: 350px;
          font-size: 18px;
          margin-bottom: 8px; } }
      @media screen and (max-width: 520px) {
        .header__cta p {
          font-size: 14px;
          width: 160px;
          letter-spacing: normal; } }
    .header__cta a {
      font-size: 24px;
      font-family: "montserratsemi_bold";
      font-weight: 700;
      color: #05ce7b;
      border: 2px solid #05ce7b;
      text-decoration: none;
      letter-spacing: 1px; }
      @media screen and (max-width: 1440px) {
        .header__cta a {
          background-color: rgba(255, 255, 255, 0.5); } }
      @media screen and (max-width: 1160px) {
        .header__cta a {
          font-size: 24px;
          border: 2px solid #05ce7b;
          width: 340px;
          padding: 10px 5px; } }
      @media screen and (max-width: 831px) {
        .header__cta a {
          font-size: 22px; } }
      @media screen and (max-width: 768px) {
        .header__cta a {
          background-color: transparent; } }
      @media screen and (max-width: 520px) {
        .header__cta a {
          font-size: 18px;
          width: 150px;
          padding: 4px 5px; } }
      .header__cta a:hover {
        background-color: #05ce7b;
        color: #FFFFFF; }

.apply-now {
  position: absolute;
  top: 0;
  z-index: 21;
  display: none;
  width: 100%;
  padding: 60px 0 50px;
  background-color: #003763;
  color: #fff; }
  @media screen and (max-width: 1099px) {
    .apply-now {
      padding: 40px 0 50px; } }
  @media screen and (min-width: 992px) and (max-width: 1099px) {
    .apply-now {
      height: 130%; } }
  @media screen and (max-width: 959px) {
    .apply-now {
      position: fixed;
      bottom: 0;
      overflow-y: scroll;
      z-index: 9999;
      padding: 46px 0 !important; } }
  .apply-now .container {
    position: relative; }
  .apply-now .intro {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center; }
    @media screen and (max-width: 1099px) {
      .apply-now .intro {
        font-size: 20px; } }
    @media screen and (max-width: 1099px) {
      .apply-now .intro {
        margin-bottom: 30px; } }
    @media screen and (max-width: 480px) {
      .apply-now .intro {
        margin-bottom: 50px; } }
    .apply-now .intro__first {
      font-family: 'montserrat_light'; }
    .apply-now .intro__second {
      font-family: 'montserrat_bold';
      color: #05ce7b; }
      @media screen and (max-width: 1099px) {
        .apply-now .intro__second {
          line-height: 16px; } }
  .apply-now .items {
    margin-bottom: 60px; }
    @media screen and (max-width: 1099px) {
      .apply-now .items {
        margin-bottom: 40px; } }
    @media screen and (min-width: 960px) and (max-width: 991px) {
      .apply-now .items {
        width: 75%;
        margin: 0 auto; } }
    .apply-now .items .item {
      text-align: center; }
      @media screen and (max-width: 991px) {
        .apply-now .items .item {
          margin-bottom: 40px;
          text-align: left; } }
      .apply-now .items .item__num {
        margin-bottom: 0;
        font-family: 'montserrat_light';
        font-size: 90px;
        color: #05ce7b;
        min-width: 70px; }
        @media screen and (min-width: 390px) and (max-width: 1099px) {
          .apply-now .items .item__num {
            font-size: 50px; } }
        @media screen and (min-width: 993px) and (max-width: 1099px) {
          .apply-now .items .item__num {
            margin-bottom: 0px; } }
        @media screen and (max-width: 992px) {
          .apply-now .items .item__num {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 16px; } }
        @media screen and (max-width: 480px) {
          .apply-now .items .item__num {
            margin-right: 0px;
            font-size: 40px; } }
        @media screen and (max-width: 389px) {
          .apply-now .items .item__num {
            font-size: 40px;
            min-width: 60px; } }
        @media screen and (max-width: 359px) {
          .apply-now .items .item__num {
            margin-right: 10px;
            min-width: 50px; } }
      .apply-now .items .item__content {
        font-family: "Source Sans Pro";
        font-weight: 400;
        font-size: 18px; }
        @media screen and (max-width: 1099px) {
          .apply-now .items .item__content {
            font-size: 16px; } }
        @media screen and (max-width: 992px) {
          .apply-now .items .item__content {
            display: inline-block;
            margin-bottom: 0; } }
        @media screen and (min-width: 960px) and (max-width: 991px) {
          .apply-now .items .item__content {
            max-width: 85%; } }
        @media screen and (max-width: 959px) {
          .apply-now .items .item__content {
            max-width: 72%;
            vertical-align: middle;
            margin-top: -30px; } }
        @media screen and (max-width: 389px) {
          .apply-now .items .item__content {
            max-width: 74%; } }
        @media screen and (max-width: 359px) {
          .apply-now .items .item__content {
            max-width: 74%;
            font-size: 14px; } }
        .apply-now .items .item__content a {
          color: #05ce7b;
          text-decoration: underline; }
  .apply-now .get-started--wrapper .button {
    display: block;
    margin: 0 auto;
    font-family: 'montserrat_bold';
    color: #fff;
    border: 2px solid #fff;
    font-size: 24px; }
    @media screen and (max-width: 1099px) {
      .apply-now .get-started--wrapper .button {
        width: 220px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 24px;
        border: 2px solid #fff; } }
    @media screen and (max-width: 992px) {
      .apply-now .get-started--wrapper .button {
        font-size: 18px; } }
    .apply-now .get-started--wrapper .button:hover {
      color: #003763;
      background-color: #fff;
      text-decoration: none; }
  .apply-now .close_apply {
    position: absolute;
    top: -10px;
    right: 10px;
    cursor: pointer; }
    @media screen and (max-width: 1600px) {
      .apply-now .close_apply {
        right: 25px; } }
    @media screen and (min-width: 1025px) and (max-width: 1040px) {
      .apply-now .close_apply {
        top: -20px; } }
    @media screen and (max-width: 1099px) {
      .apply-now .close_apply {
        width: 30px; } }
    @media screen and (max-width: 640px) {
      .apply-now .close_apply {
        width: 22px; } }
    @media screen and (max-width: 992px) {
      .apply-now .close_apply {
        top: -22px; } }

.banner {
  background-color: #09355a;
  font-family: "montserrat_light";
  font-weight: 400;
  letter-spacing: 1px;
  padding: 30px 0px; }
  @media screen and (max-width: 831px) {
    .banner {
      margin-top: 2px; } }
  @media screen and (max-width: 520px) {
    .banner {
      padding: 4px 0px; } }
  .banner p {
    margin: .6em 0;
    font-size: 22px;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 831px) {
      .banner p {
        font-size: 16px; } }
    @media screen and (max-width: 482px) {
      .banner p {
        padding: 0px 10px;
        margin: 1em 0; } }
    .banner p .bold {
      font-family: "montserratsemi_bold"; }

/*-----------------------------------
	Free Tools Section Layout
-------------------------------------*/
.free-tools {
  margin-top: 0;
  padding: 60px 0 70px 0;
  font-family: 'montserratsemi_bold';
  background-color: #f0efef;
  margin: 0px 0 60px; }
  @media screen and (max-width: 831px) {
    .free-tools {
      padding: 40px 0; } }
  @media screen and (max-width: 600px) {
    .free-tools {
      padding: 40px 0 30px 0;
      margin: 0px 0 30px; } }
  .free-tools .section__title {
    margin-bottom: 60px; }

/*-----------------------------------
	Individual Tool Items
-------------------------------------*/
.tool {
  width: 33.3%;
  max-width: 380px;
  display: inline-block;
  margin-left: -5px;
  text-align: center; }
  @media screen and (max-width: 831px) {
    .tool {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: 0;
      text-align: left; } }
  @media screen and (min-width: 360px) and (max-width: 831px) {
    .tool {
      padding: 0 55px; } }
  @media screen and (max-width: 831px) {
    .tool {
      padding: 0 40px; } }
  .tool__icon {
    margin-bottom: 35px;
    max-width: 130px; }
    @media screen and (max-width: 831px) {
      .tool__icon {
        display: inline-block;
        margin-right: 20px; } }
    @media screen and (max-width: 614px) {
      .tool__icon {
        width: 20%; } }
  .tool__link {
    font-size: 18px;
    color: #003763;
    letter-spacing: 1px; }
    @media screen and (max-width: 831px) {
      .tool__link {
        display: inline-block; } }
    @media screen and (max-width: 600px) {
      .tool__link {
        display: inline-block;
        font-size: 15px;
        letter-spacing: normal; } }

.whats-new {
  margin: 70px 0 0; }
  @media screen and (max-width: 600px) {
    .whats-new {
      margin: 30px 0 0; } }
  .whats-new .posts {
    padding: 0 20px;
    text-align: center; }
    @media screen and (max-width: 832px) {
      .whats-new .posts {
        padding: 0; } }
  .whats-new .post {
    width: 33%;
    display: inline-block;
    font-family: 'montserrat_regular';
    vertical-align: top; }
    @media screen and (max-width: 831px) {
      .whats-new .post {
        width: 100%;
        display: block;
        margin-bottom: 2px; } }
    @media screen and (min-width: 832px) {
      .whats-new .post:first-child {
        padding-right: 21px;
        padding-left: 4px;
        margin-left: -4px; } }
    @media screen and (min-width: 832px) {
      .whats-new .post:nth-child(2) {
        padding-right: 12.5px;
        padding-left: 12.5px; } }
    @media screen and (min-width: 832px) {
      .whats-new .post:last-child {
        padding-left: 25px;
        margin-left: -4px; } }
    .whats-new .post__img img {
      width: 100%; }
    .whats-new .post__title {
      padding: 15px 15px 35px 15px;
      font-size: 18px;
      font-weight: 700;
      background-color: #666;
      color: #fff;
      font-family: "montserrat_regular";
      text-align: left; }
      @media screen and (max-width: 1200px) {
        .whats-new .post__title {
          padding: 15px;
          font-size: 16px; } }
    .whats-new .post__tags__tag {
      margin-right: 10px;
      font-size: 16px;
      font-family: 'montserrat_light';
      color: #fff;
      text-decoration: underline; }
      @media screen and (max-width: 1200px) {
        .whats-new .post__tags__tag {
          font-size: 16px; } }

/*--------------------------------
	Events Layout
----------------------------------*/
.events {
  position: relative;
  min-height: 600px;
  margin-bottom: 0;
  padding-bottom: 50px; }
  @media screen and (max-width: 831px) {
    .events {
      min-height: 100%;
      padding-bottom: 0;
      margin-top: 0px; } }
  .events .section__title {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 46px;
    font-family: "montserrat_bold";
    letter-spacing: 1px; }
    @media screen and (max-width: 1024px) {
      .events .section__title {
        margin-top: 40px;
        font-size: 40px;
        margin-bottom: 40px; } }
    @media screen and (max-width: 480px) {
      .events .section__title {
        margin-top: 40px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 40px; } }
  .events__content {
    padding-left: 60px;
    padding-right: 60px; }
  .events__content--bg, .events__img {
    position: absolute;
    width: 50%;
    height: 100%; }
    @media screen and (max-width: 831px) {
      .events__content--bg, .events__img {
        display: none; } }
  .events__content--bg {
    left: 0;
    background-color: #003763; }
  .events__img {
    right: 0;
    background-image: url("assets/img/events_img.jpg");
    background-size: 250%;
    background-position: 90% 50%;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1440px) {
      .events__img {
        background-size: 300%; } }
    @media screen and (min-width: 768px) and (max-width: 1160px) {
      .events__img {
        background-position: 80% 50%; } }
    @media screen and (min-width: 931px) and (max-width: 1160px) {
      .events__img {
        background-size: 350%; } }
    @media screen and (min-width: 768px) and (max-width: 930px) {
      .events__img {
        background-size: 450%; } }
    .events__img--mobile {
      display: none; }
      @media screen and (max-width: 831px) {
        .events__img--mobile {
          display: block; }
          .events__img--mobile img {
            width: 100%; } }
  @media screen and (max-width: 831px) {
    .events .container {
      background-color: #003763; } }
  .events .button {
    margin: 40px 0 50px;
    border: 2px solid #fff;
    color: #fff; }
    .events .button:hover {
      color: #003763;
      background: #FFF;
      text-decoration: none; }
    @media screen and (min-width: 832px) {
      .events .button {
        font-size: 16px; } }
    @media screen and (max-width: 1024px) {
      .events .button {
        margin: 20px 0 55px;
        font-size: 14px; } }
    @media screen and (max-width: 480px) {
      .events .button {
        margin: 20px auto 40px; } }
  .events .social {
    padding-left: 40px;
    padding-right: 40px; }

/*--------------------------------
	Event Item
----------------------------------*/
.event {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px; }
  @media screen and (max-width: 1024px) {
    .event {
      font-size: 16px; } }
  @media screen and (max-width: 831px) {
    .event {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    .event {
      margin-bottom: 35px; } }
  .event__category {
    color: #05ce7b;
    margin-bottom: 15px;
    font-family: "montserratsemi_bold";
    font-size: 18px; }
  .event__date {
    margin-bottom: 0;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-family: "montserrat_light"; }
  .event__title {
    color: #fff;
    text-decoration: underline;
    font-family: "montserratsemi_bold"; }
    .event__title:hover {
      color: #05ce7b; }

/*--------------------------------
	Email Updates
----------------------------------*/
.email_upd {
  font-size: 18px;
  font-family: "Source Sans Pro";
  font-weight: 400; }
  @media screen and (max-width: 831px) {
    .email_upd {
      font-size: 16px; } }
  .email_upd--events {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px; }
    @media screen and (max-width: 1200px) {
      .email_upd--events {
        margin-bottom: 10px; } }
    .email_upd--events > p {
      color: #05ce7b;
      font-family: "montserratsemi_bold";
      letter-spacing: 1px; }
      @media screen and (max-width: 831px) {
        .email_upd--events > p {
          margin-top: 35px; } }
      @media screen and (max-width: 736px) {
        .email_upd--events > p {
          text-align: center; } }
    .email_upd--events .wpcf7-email {
      background-color: #003763; }
    .email_upd--events .wpcf7-submit {
      color: #003763; }
    .email_upd--events .wpcf7-response-output {
      background-color: #003763;
      color: #fff; }
  @media screen and (max-width: 831px) {
    .email_upd--footer {
      display: none;
      margin-top: 10px; }
      .email_upd--footer p {
        margin-bottom: 10px; } }
  .email_upd--footer .wpcf7-email {
    background-color: #666; }
  .email_upd--footer .wpcf7-submit {
    color: #666; }
  .email_upd--footer .wpcf7-response-output {
    background-color: #666;
    color: #fff; }
  @media screen and (max-width: 831px) {
    .email_upd--footer p {
      margin-bottom: 10px; } }
  .email_upd p {
    margin-bottom: 12px; }
    @media screen and (max-width: 480px) {
      .email_upd p {
        margin-bottom: 10px; } }
    @media screen and (max-width: 480px) {
      .email_upd p:first-child {
        margin-bottom: 20px; } }

/*--------------------------------
	Contact Form Overrides
----------------------------------*/
.wpcf7-form {
  position: relative; }
  @media screen and (max-width: 1440px) {
    .wpcf7-form {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .wpcf7-form {
      width: 100%; } }
  .wpcf7-form p {
    display: inline-block; }
    @media screen and (max-width: 736px) {
      .wpcf7-form p {
        width: 100%;
        display: block; } }
  .wpcf7-form .wpcf7-email, .wpcf7-form .wpcf7-submit {
    border: 1px solid #fff;
    margin: 0;
    border: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    @media screen and (max-width: 736px) {
      .wpcf7-form .wpcf7-email, .wpcf7-form .wpcf7-submit {
        width: 100%;
        font-size: 14px; } }
    .wpcf7-form .wpcf7-email:focus, .wpcf7-form .wpcf7-submit:focus {
      outline: none; }
  .wpcf7-form .wpcf7-email {
    text-align: center;
    color: #fff;
    padding: 14px 18px;
    max-width: 360px; }
    .wpcf7-form .wpcf7-email::-webkit-input-placeholder {
      color: #fff; }
    .wpcf7-form .wpcf7-email:-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .wpcf7-form .wpcf7-email::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .wpcf7-form .wpcf7-email:-ms-input-placeholder {
      color: #fff; }
    @media screen and (min-width: 737px) and (max-width: 1440px) {
      .wpcf7-form .wpcf7-email {
        max-width: 300px; } }
    @media screen and (max-width: 736px) {
      .wpcf7-form .wpcf7-email {
        max-width: 100%; } }
    @media screen and (min-width: 832px) and (max-width: 1280px) {
      .wpcf7-form .wpcf7-email {
        font-size: 14px;
        padding: 14px 18px; } }
    @media screen and (max-width: 480px) {
      .wpcf7-form .wpcf7-email {
        max-width: 100%;
        padding: 14px 18px; } }
  .wpcf7-form .wpcf7-submit {
    padding: 14px 40px;
    margin-left: -7px;
    font-weight: bold;
    background-color: #fff; }
    @media screen and (max-width: 736px) {
      .wpcf7-form .wpcf7-submit {
        margin: 0; } }
    @media screen and (min-width: 832px) and (max-width: 1280px) {
      .wpcf7-form .wpcf7-submit {
        font-size: 14px;
        padding: 14px 10px; } }
    @media screen and (max-width: 480px) {
      .wpcf7-form .wpcf7-submit {
        padding: 14px 18px; } }
  .wpcf7-form .wpcf7-response-output {
    position: absolute;
    margin: 0;
    border-color: #fff; }
    @media screen and (min-width: 832px) and (max-width: 1280px) {
      .wpcf7-form .wpcf7-response-output {
        max-width: 350px;
        font-size: 14px; } }
    @media screen and (max-width: 1199px) {
      .wpcf7-form .wpcf7-response-output {
        position: relative; } }
  .wpcf7-form .wpcf7-not-valid-tip {
    display: none !important; }

.eguides {
  margin-top: 0;
  padding-top: 100px;
  font-size: 16px;
  background-color: #f0efef;
  margin: 0px;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px; }
  @media screen and (max-width: 831px) {
    .eguides {
      margin-top: 0;
      padding-top: 40px;
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    .eguides {
      padding-left: 0px;
      padding-right: 0px;
      font-size: 14px; } }
  @media screen and (min-width: 992px) {
    .eguides--wrapper {
      width: 90%;
      margin: 0 auto; } }
  .eguides .button {
    border: 2px solid #003763;
    color: #003763; }
    .eguides .button:hover {
      background: #003763;
      color: #FFF;
      text-decoration: none; }
    @media screen and (max-width: 480px) {
      .eguides .button {
        margin: auto; } }
  .eguides .eguide {
    margin-bottom: 60px;
    padding: 0;
    color: #003763; }
    @media screen and (max-width: 831px) {
      .eguides .eguide {
        margin-bottom: 35px; } }
    .eguides .eguide--wrapper {
      width: 90%; }
      @media screen and (max-width: 992px) {
        .eguides .eguide--wrapper {
          width: 100%; } }
      .eguides .eguide--wrapper__right {
        margin-left: 25%; }
        @media screen and (max-width: 992px) {
          .eguides .eguide--wrapper__right {
            margin-left: 0; } }
    .eguides .eguide__title {
      font-family: 'montserrat_regular';
      font-weight: 700;
      letter-spacing: 1px; }
    .eguides .eguide__excerpt {
      font-family: "Source Sans Pro";
      font-weight: 400;
      letter-spacing: 1px; }
      @media screen and (min-width: 832px) and (max-width: 1024px) {
        .eguides .eguide__excerpt {
          font-size: 18px; } }
    .eguides .eguide__views {
      margin-bottom: 20px;
      font-family: "Source Sans Pro";
      font-weight: 400;
      color: #999;
      letter-spacing: 1px; }
      @media screen and (max-width: 831px) {
        .eguides .eguide__views {
          margin-bottom: 20px; } }

.choose-wes {
  margin: 70px 0; }
  .choose-wes .value__props {
    text-align: center;
    color: #003763; }
    @media screen and (min-width: 480px) and (max-width: 991px) {
      .choose-wes .value__props {
        width: 85%;
        margin: 0 auto; } }
    @media screen and (max-width: 831px) {
      .choose-wes .value__props {
        text-align: left; } }
    .choose-wes .value__props .value__prop {
      font-size: 18px;
      width: 30%;
      display: inline-block;
      float: none; }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .choose-wes .value__props .value__prop {
          margin-bottom: 55px; } }
      @media screen and (max-width: 831px) {
        .choose-wes .value__props .value__prop {
          margin-bottom: 40px;
          font-size: 16px;
          width: 100%; }
          .choose-wes .value__props .value__prop:last-child {
            margin-bottom: 0; } }
      @media screen and (max-width: 480px) {
        .choose-wes .value__props .value__prop {
          margin-bottom: 20px; } }
      .choose-wes .value__props .value__prop__img {
        margin-bottom: 35px;
        max-width: 130px; }
        @media screen and (max-width: 831px) {
          .choose-wes .value__props .value__prop__img {
            margin-right: 20px; } }
        @media screen and (max-width: 724px) {
          .choose-wes .value__props .value__prop__img {
            display: inline-block;
            width: 20%;
            margin-bottom: 0;
            vertical-align: top; } }
        @media screen and (max-width: 430px) {
          .choose-wes .value__props .value__prop__img {
            margin-top: 10px;
            margin-right: 15px; } }
      @media screen and (max-width: 831px) {
        .choose-wes .value__props .value__prop--content-wrapper {
          display: inline-block;
          width: 70%; } }
      .choose-wes .value__props .value__prop__title {
        font-family: 'montserrat_regular';
        font-weight: 700;
        letter-spacing: 1px; }
      .choose-wes .value__props .value__prop__sub {
        font-family: "Source Sans Pro";
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16px; }
        @media screen and (max-width: 480px) {
          .choose-wes .value__props .value__prop__sub {
            font-size: 14px; } }

.testimonials {
  padding: 80px 0 60px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'montserrat_regular';
  background-color: #05ce7b;
  color: #fff; }
  @media screen and (max-width: 831px) {
    .testimonials {
      padding: 40px 0 30px 0;
      margin-top: 0;
      margin-bottom: 2px; } }
  .testimonials--wrapper {
    float: none;
    margin: 0 auto; }
  .testimonials .quote {
    font-size: 24px;
    font-family: "montserrat_light";
    line-height: 40px;
    letter-spacing: 2px; }
    @media screen and (max-width: 831px) {
      .testimonials .quote {
        font-size: 16px;
        line-height: 32px; } }
    .testimonials .quote__author {
      margin: 20px 0 0;
      font-size: 18px;
      font-family: "montserrat_light"; }
      @media screen and (max-width: 831px) {
        .testimonials .quote__author {
          font-size: 16px; } }

@media screen and (min-width: 1281px) {
  .gen_page {
    margin-top: 230px; } }
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .gen_page {
    margin-top: 200px; } }
@media screen and (min-width: 960px) and (max-width: 1024px) {
  .gen_page {
    margin-top: 200px; } }
.gen_page p a {
  font-weight: bold;
  color: #05ce7b;
  text-decoration: underline; }
.gen_page .intro {
  margin-bottom: 60px; }
  @media screen and (max-width: 959px) {
    .gen_page .intro {
      margin-top: 40px;
      margin-bottom: 40px; } }
  .gen_page .intro__title {
    margin-bottom: 20px; }
    @media screen and (min-width: 960px) and (max-width: 1024px) {
      .gen_page .intro__title {
        font-size: 40px; } }
    @media screen and (max-width: 959px) {
      .gen_page .intro__title {
        font-size: 24px; } }
  .gen_page .intro__content {
    font-family: "Source Sans Pro";
    font-weight: regular;
    font-size: 18px;
    color: #003763;
    padding: 0px 20px; }
    @media screen and (min-width: 960px) and (max-width: 1024px) {
      .gen_page .intro__content {
        font-size: 18px; } }
    @media screen and (max-width: 959px) {
      .gen_page .intro__content {
        font-size: 16px; } }
  .gen_page .intro .button {
    margin: 45px auto 0;
    font-size: 16px;
    color: #003763;
    border: 2px solid #003763; }
    @media screen and (min-width: 960px) and (max-width: 1024px) {
      .gen_page .intro .button {
        font-size: 18px; } }
    @media screen and (max-width: 959px) {
      .gen_page .intro .button {
        margin-top: 40px;
        font-size: 16px; } }
    .gen_page .intro .button:hover {
      color: #fff;
      background-color: #003763;
      text-decoration: none; }
.gen_page .banner {
  position: relative;
  padding: 0; }
  .gen_page .banner__img, .gen_page .banner__content--bg {
    position: absolute;
    width: 50%;
    height: 100%; }
    @media screen and (max-width: 959px) {
      .gen_page .banner__img, .gen_page .banner__content--bg {
        position: relative;
        width: 100%;
        height: auto; } }
  .gen_page .banner__img {
    left: 0; }
    @media screen and (max-width: 959px) {
      .gen_page .banner__img {
        display: none; } }
    .gen_page .banner__img--fullWidth {
      width: 100%; }
      @media screen and (max-width: 959px) {
        .gen_page .banner__img--fullWidth {
          display: none; } }
    .gen_page .banner__img__mob img {
      width: 100%; }
  .gen_page .banner__content {
    position: relative;
    width: 50%;
    margin-left: 50%;
    padding: 60px 60px; }
    @media screen and (max-width: 959px) {
      .gen_page .banner__content {
        width: 100%;
        margin: 0;
        padding: 40px 20px; } }
    .gen_page .banner__content--fullWidth {
      width: 100%;
      margin-left: auto;
      padding: 60px 40px; }
    .gen_page .banner__content p {
      margin: 0 0 10px 0;
      font-size: 16px;
      text-align: left;
      color: #fff; }
    .gen_page .banner__content .title {
      font-family: 'montserratsemi_bold';
      font-size: 18px;
      color: #05ce7b; }
      @media screen and (max-width: 959px) {
        .gen_page .banner__content .title {
          text-align: center; } }
      .gen_page .banner__content .title--fullWidth {
        padding: 0; }
    .gen_page .banner__content .copy {
      max-width: 600px;
      color: #fff; }
      @media screen and (max-width: 959px) {
        .gen_page .banner__content .copy {
          max-width: 100%;
          padding: 0 20px; } }
      .gen_page .banner__content .copy--fullWidth {
        max-width: none; }
        @media screen and (max-width: 959px) {
          .gen_page .banner__content .copy--fullWidth {
            padding: 0; } }
        .gen_page .banner__content .copy--fullWidth p {
          padding: 0; }
.gen_page .page-content {
  margin: 0; }
  @media screen and (min-width: 960px) {
    .gen_page .page-content.hasTitle {
      margin: 60px 0 0; } }
  @media screen and (max-width: 959px) {
    .gen_page .page-content.hasTitle {
      margin-top: 40px;
      margin-bottom: 0; } }
  @media screen and (min-width: 960px) {
    .gen_page .page-content .section__title {
      margin-bottom: 60px; } }
  @media screen and (max-width: 1440px) {
    .gen_page .page-content .section__title {
      padding: 0 20px; } }
  @media screen and (min-width: 960px) and (max-width: 1024px) {
    .gen_page .page-content .section__title {
      font-size: 40px; } }
  @media screen and (max-width: 959px) {
    .gen_page .page-content .section__title {
      margin-bottom: 40px !important;
      font-size: 24px; }
      .gen_page .page-content .section__title span {
        display: block; } }
  .gen_page .page-content .item {
    padding-top: 60px;
    padding-bottom: 70px;
    color: #003763; }
    @media screen and (max-width: 959px) {
      .gen_page .page-content .item {
        padding-top: 20px;
        padding-bottom: 40px; } }
    @media screen and (min-width: 960px) and (max-width: 991px) {
      .gen_page .page-content .item__img, .gen_page .page-content .item__content {
        width: 50%; } }
    @media screen and (max-width: 959px) {
      .gen_page .page-content .item__img {
        display: none; } }
    .gen_page .page-content .item__img--right {
      text-align: right; }
    .gen_page .page-content .item__img img {
      width: 100%;
      margin-top: 25px; }
    .gen_page .page-content .item__img__mob img {
      width: 100%; }
    .gen_page .page-content .item__content {
      padding-right: 30px;
      padding-left: 30px; }
    .gen_page .page-content .item .headline {
      margin-bottom: 0px;
      margin-top: 20px; }
      .gen_page .page-content .item .headline__num {
        margin-right: 10px;
        font-family: 'montserrat_light';
        font-size: 70px; }
        @media screen and (max-width: 959px) {
          .gen_page .page-content .item .headline__num {
            font-size: 50px; } }
        @media screen and (min-width: 361px) and (max-width: 959px), (min-width: 960px) and (max-width: 1024px) {
          .gen_page .page-content .item .headline__num {
            margin-right: 10px; } }
        @media screen and (max-width: 360px) {
          .gen_page .page-content .item .headline__num {
            margin-right: 10px; } }
      .gen_page .page-content .item .headline__txt {
        display: inline-block;
        font-family: 'montserratsemi_bold';
        font-size: 22px;
        color: #05ce7b; }
        @media screen and (max-width: 959px) {
          .gen_page .page-content .item .headline__txt {
            font-size: 16px; } }
        @media screen and (min-width: 490px) and (max-width: 959px) {
          .gen_page .page-content .item .headline__txt {
            margin-top: 25px;
            vertical-align: top; } }
    .gen_page .page-content .item .copy {
      margin-bottom: 35px;
      font-family: "Source Sans Pro";
      font-weight: 400;
      font-size: 18px; }
      @media screen and (min-width: 960px) and (max-width: 1024px) {
        .gen_page .page-content .item .copy {
          font-size: 18px; } }
      @media screen and (max-width: 959px) {
        .gen_page .page-content .item .copy {
          margin-bottom: 35px;
          font-size: 16px; } }
      .gen_page .page-content .item .copy p {
        margin: 0 0 20px; }
    @media screen and (max-width: 959px) {
      .gen_page .page-content .item__cta {
        text-align: center; } }
    .gen_page .page-content .item__cta .button {
      display: inline-block;
      padding: 6px 60px;
      font-family: 'montserratsemi_bold';
      font-size: 16px;
      text-align: left;
      color: #003763;
      border: 2px solid #003763; }
      @media screen and (min-width: 960px) and (max-width: 1024px) {
        .gen_page .page-content .item__cta .button {
          font-size: 16px; } }
      @media screen and (max-width: 959px) {
        .gen_page .page-content .item__cta .button {
          text-align: center;
          font-size: 14px; } }
      .gen_page .page-content .item__cta .button:hover {
        color: #fff;
        background-color: #003763;
        text-decoration: none; }

.events__archive {
  margin-top: 250px;
  margin-bottom: 50px; }
  .events__archive__header {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc; }
    .events__archive__header__item {
      display: inline-block;
      margin: 0; }
      .events__archive__header__item.instl_link {
        float: right; }

.event__item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc; }
  .event__item__descr .title {
    margin-bottom: 0;
    font-weight: bold; }
  .event__item__descr .sub_title {
    margin: 3px 0 15px;
    color: #aaa; }
  .event__item__descr .tag {
    text-decoration: underline;
    cursor: pointer; }
  .event__item__featImg img {
    width: 100%; }

.filter {
  margin-top: -25px; }
  .filter .module {
    padding: 25px 15px;
    margin-bottom: 5px;
    background-color: #ccc; }
  .filter__header p {
    display: inline-block;
    margin: 0; }
    .filter__header p.clear_filter {
      float: right;
      text-decoration: underline;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
