// Event Item Container
.events__archive {
	margin-top: 250px;
	margin-bottom: 50px;


	&__header {
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid #ccc;

		&__item {			
			display: inline-block;
			margin: 0;

			&.instl_link {
				float: right;
			}
		}

	}
}


// Event Item
.event__item {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ccc;


	&__descr {

		.title {
			margin-bottom: 0;
			font-weight: bold;
		}

		.sub_title {
			margin: 3px 0 15px;
			color: #aaa;
		}

		.excerpt {

		}

		.tag {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	

	&__featImg {
		
		img {
			width: 100%;
		}
	}


}

