.filter {
	margin-top: -25px;

	.module {
		padding: 25px 15px;
		margin-bottom: 5px;
		background-color: #ccc;		
	}	

	&__header {

		p {
			display: inline-block;
			margin: 0;

			&.clear_filter {
				float: right;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}