.apply-now {
	position: absolute;
	top: 0;
	z-index: 21;
	display: none;
	width: 100%;
	padding: 60px 0 50px;
	background-color: $text-blue;	
	color: #fff;
	
	@media screen and (max-width: 1099px) {
		padding:40px 0 50px;
	}
	
	@media screen and (min-width: 992px) and (max-width: 1099px) {
		height: 130%;
	}
	@media screen and (max-width: 959px) {
		position: fixed;
		bottom: 0;
		overflow-y: scroll;
		z-index: 9999;
		padding: 46px 0 !important;
	}


	.container {
		position: relative;
	}


	.intro {		
		margin-bottom: 20px;
		font-size: 30px;
		text-align: center;
		@media screen and (max-width: 1099px) {
			font-size: 20px;
		}
		@media screen and (max-width: 1099px) {
			margin-bottom: 30px;
		}	
		
		@media screen and (max-width: 480px) {
			margin-bottom: 50px;
		}		

		&__first {
			font-family: 'montserrat_light';
		}

		&__second {
			font-family: 'montserrat_bold';
			color: $green;
			@media screen and(max-width:1099px){
				line-height: 16px;
			}
		}
	}


	.items {
		margin-bottom: 60px;
		@media screen and (max-width: 1099px) {
			margin-bottom: 40px;
		}
		@media screen and (min-width: 960px) and (max-width: 991px) {
			width: 75%;
			margin: 0 auto;
		}

		.item {
			text-align: center;
			@media screen and (max-width: 991px) {
				margin-bottom: 40px;
				text-align: left;				
			}
			
			&__num {
				margin-bottom: 0;
				font-family: 'montserrat_light';	
				font-size: 90px;				
				color: $green;
				min-width: 70px;
				@media screen and (min-width: 390px) and (max-width: 1099px) {
					font-size: 50px;
				}
				@media screen and (min-width: 993px) and (max-width: 1099px) {
					margin-bottom: 0px;
				}				
				@media screen and (max-width: 992px) {
					display: inline-block;
					margin-bottom: 0;
					margin-right: 16px;
				}								
				@media screen and (max-width: 480px) {
					margin-right:0px;
					font-size: 40px;
				}				
				@media screen and (max-width: 389px) {
					font-size: 40px;
					min-width:60px;
				}				
				@media screen and (max-width: 359px) {
					margin-right: 10px;
					min-width: 50px;
				}
			}

			&__content {
				font-family: $ssp;
				font-weight: $regular;
				font-size: 18px;
				@media screen and (max-width: 1099px) {
					font-size: 16px;
				}			
				@media screen and (max-width: 992px) {
					display: inline-block;
					margin-bottom: 0;
				}
				@media screen and (min-width: 960px) and (max-width: 991px) {
					max-width: 85%;
				}
				@media screen and (max-width: 959px) {
					max-width: 72%;
					vertical-align: middle;
					margin-top:-30px;
				}							
				@media screen and (max-width: 389px) {
					max-width:74%;
				}				
				@media screen and (max-width: 359px) {
					max-width:74%;
					font-size:14px;
				}

				a {
					color: $green;
					text-decoration: underline;
				}
			}
		}
	}


	.get-started {

		&--wrapper {

			.button {
				display: block;
				margin: 0 auto;
				font-family: 'montserrat_bold';
				color: #fff;
				border: 2px solid #fff;
				font-size:24px;
				@media screen and (max-width: 1099px) {
					width: 220px;
					padding-top: 10px;
					padding-bottom: 10px;
					font-size: 24px;	
					border: 2px solid #fff;		
				}
				@media screen and (max-width: 992px) {
					font-size: 18px;
				}

				&:hover {
					color: $text-blue;
					background-color: #fff;
					text-decoration: none;
				}				
			}

		}
	}


	.close_apply {
		position: absolute;
	    top: -10px;
		right: 10px;
		cursor: pointer;
		
		@media screen and (max-width: 1600px) {
			right:25px;
		}
		
		@media screen and (min-width: 1025px) and (max-width: 1040px) {
			top: -20px;
		}
		@media screen and (max-width: 1099px) {
			width: 30px;
		}
		
		@media screen and (max-width: 640px) {
			width: 22px;
		}
		
		@media screen and (max-width: 992px) {
			top: -22px;
		}
	}

}