.banner {
	background-color: $banner-blue;
	font-family: "montserrat_light";
	font-weight: $regular;
	letter-spacing: 1px;
	padding: 30px 0px;
	@media screen and (max-width: 831px) {
		margin-top: 2px;
	}
	
	@media screen and (max-width: 520px) {
		padding: 4px 0px;
	}

	p {
		margin: .6em 0;
		font-size: 22px;
		text-align: center;
		color: #fff;
		@media screen and (max-width: 831px) {
			font-size: 16px;
		}
		
		@media screen and (max-width:482px){
			padding: 0px 10px;
			margin: 1em 0;
		}
		
		.bold{
			font-family: "montserratsemi_bold";
		}
	}

}