.choose-wes {	
	margin:70px 0;

	.value__props {
		text-align: center;
		color: $text-blue;
		@media screen and (min-width: 480px) and (max-width: 991px) {
			width: 85%;
			margin: 0 auto;
		}
		@media screen and (max-width: 831px) {
			text-align: left;		
		}


		.value__prop {
			font-size: 18px;
			width:30%;
			display: inline-block;
			float:none;
			@media screen and (min-width: 768px) and (max-width: 992px) {
				margin-bottom: 55px;
			}
			@media screen and (max-width: 831px) {
				margin-bottom: 40px;	
				font-size: 16px;
				
				width:100%;

				&:last-child {
					margin-bottom: 0;	
				}
			}
			
			@media screen and (max-width: 480px) {
				margin-bottom: 20px;
			}

			&__img {
				margin-bottom: 35px;
				max-width:130px;
				@media screen and (max-width: 831px) {
					margin-right: 20px;
				}
				@media screen and (max-width: 724px) {
					display: inline-block;
					width: 20%;										
					margin-bottom: 0;
					vertical-align: top;					
				}
				@media screen and (max-width: 430px) {
					margin-top: 10px;
					margin-right: 15px;
				}
			}

			&--content-wrapper {
				@media screen and (max-width: 831px) {
					display: inline-block;
					width: 70%;		
				}
			}

			&__title {
				font-family: 'montserrat_regular';
				font-weight: $bold;
				letter-spacing: 1px;
			}

			&__sub {
				font-family: $ssp;
				font-weight: $regular;
				letter-spacing: 1px;	
				font-size:16px;			
				@media screen and (max-width:480px){
					font-size:14px
				}
			}
		}

	}
}