.eguides {
	margin-top: 0;
	padding-top: 100px;
	font-size: 16px;	
	background-color: $bg-grey;
	margin:0px;
	padding-top:100px;
	padding-left:40px;
	padding-right:40px;	
	@media screen and (max-width: 831px) {
		margin-top: 0;
		padding-top: 40px;
		font-size: 16px;		
	}	
	@media screen and (max-width: 480px) {
		padding-left:0px;
		padding-right:0px;
		font-size: 14px;
	}


	&--wrapper {
		@media screen and (min-width: 992px) {
			width: 90%;
			margin: 0 auto;
		}	
	}

	
	.button {
		border: 2px solid $text-blue;
		color: $text-blue;
		
		&:hover{
			background: $text-blue;
			color:#FFF;
			text-decoration: none;
		}
		
		@media screen and (max-width: 480px) {
			margin: auto;
		}
	}


	.eguide {		
		margin-bottom: 60px;
		padding: 0;
		color: $text-blue;
		@media screen and (max-width: 831px) {
			margin-bottom: 35px;
		}

		&--wrapper {			
			width: 90%;
			@media screen and (max-width: 992px) {
				width: 100%;
			}

			&__right {
				margin-left: 25%;
				@media screen and (max-width: 992px) {
					margin-left: 0;
				}
			}
		}

		&__title {
			font-family: 'montserrat_regular';
			font-weight: $bold;
			letter-spacing: 1px;
		}

		&__excerpt {
			font-family: $ssp;
			font-weight: $regular;
			letter-spacing: 1px;
			@media screen and (min-width: 832px) and (max-width: 1024px) {
				font-size: 18px;
			}
		}

		&__views {
			margin-bottom: 20px;
			font-family: $ssp;
			font-weight: $regular;
			color: #999;
			letter-spacing: 1px;
			@media screen and (max-width: 831px) {
				margin-bottom: 20px;
			}
		}		
	}


}