/*--------------------------------
	Email Updates
----------------------------------*/
.email_upd {
	font-size: 18px;
	font-family: $ssp;
	font-weight: $regular;		
	@media screen and (max-width: 831px) {
		font-size: 16px;
	}


	&--events {
		padding-left: 60px;
		padding-right: 60px;
		margin-bottom: 30px;		
		@media screen and (max-width: 1200px) {
			margin-bottom: 10px;
		}
		
		> p {			
			color: $green;
			font-family: "montserratsemi_bold";
			letter-spacing: 1px;
			@media screen and (max-width: 831px) {
				margin-top: 35px;				
			}
			@media screen and (max-width: 736px) {
				text-align: center;
			}
		}

		.wpcf7-email {
			background-color: $text-blue;
		}

		.wpcf7-submit {
			color: $text-blue;
		}

		.wpcf7-response-output {
			background-color: $text-blue;
			color: #fff;
		}
	}


	&--footer {
		@media screen and (max-width: 831px) {
			display: none;
			margin-top: 10px;

			p {
				margin-bottom: 10px;
			}
		}

		.wpcf7-email {
			background-color: #666;
		}

		.wpcf7-submit {
			color: #666;
		}

		.wpcf7-response-output {
			background-color: #666;
			color: #fff;
		}

		p {
			@media screen and (max-width: 831px) {
				margin-bottom: 10px;
			}
		}
	}


	p {
		margin-bottom: 12px;			
		@media screen and (max-width: 480px) {
			margin-bottom: 10px;
		}	
		
		&:first-child{
			@media screen and (max-width: 480px) {
				margin-bottom: 20px;
			}	
		}
	}

}




/*--------------------------------
	Contact Form Overrides
----------------------------------*/
.wpcf7-form {
	position: relative;
	
	
	@media screen and (max-width:1440px){
		width:100%;
	}
	
	@media screen and (max-width:480px){
		width:100%;
	}

	p {
		display: inline-block;
		@media screen and (max-width: 736px) {
			width: 100%;
			display: block;
		}
	}



	.wpcf7-email, .wpcf7-submit {		
		border: 1px solid #fff;
		margin: 0;
		border: 1px solid #fff;
		@include border-radius(0);
		@media screen and (max-width: 736px) {
			width: 100%;
			font-size: 14px;
		}

		&:focus {
			outline: none;
		}
	}


	.wpcf7-email {
		text-align: center;		
		color: #fff;
		padding: 14px 18px;	
		max-width:360px;			

		&::-webkit-input-placeholder {
		   color: #fff;
		}

		&:-moz-placeholder { 
		   color: #fff;  
		   opacity: 1;
		}

		&::-moz-placeholder {
		   color: #fff;  
		   opacity: 1;
		}

		&:-ms-input-placeholder {  
		   color: #fff;  
		}
		
		@media screen and (min-width:737px) and (max-width:1440px){
			max-width: 300px;
		}
		
		@media screen and (max-width:736px){
			max-width: 100%;
		}
		
		@media screen and (min-width:832px) and (max-width:1280px){
			font-size:14px;
			padding: 14px 18px;
		}
		
		@media screen and (max-width:480px){
			max-width: 100%;
			padding: 14px 18px;
		}
		
		
	}


	.wpcf7-submit {
		padding: 14px 40px;
		margin-left: -7px;
		font-weight: bold;
		background-color: #fff;		
		@media screen and (max-width: 736px) {
			margin: 0;
		}			
		@media screen and (min-width:832px) and (max-width:1280px){
			font-size:14px;
			padding: 14px 10px;
		}			
		@media screen and (max-width:480px){
			padding: 14px 18px;
		}		
	}


	// Validation Messages
	.wpcf7-response-output {
		position: absolute;
		margin: 0;		
		border-color: #fff;
		@media screen and (min-width:832px) and (max-width:1280px){
			max-width: 350px;
			font-size: 14px;
		}
		@media screen and (max-width: 1199px) {
			position: relative;
		}
	}

	.wpcf7-not-valid-tip {
		display: none !important;
	}
}