/*--------------------------------
	Events Layout
----------------------------------*/
.events {
	position: relative;	
	min-height: 600px;
	margin-bottom: 0;
	padding-bottom: 50px;
	@media screen and (max-width: 831px) {
		min-height: 100%;
		padding-bottom: 0;		
		margin-top:0px;
	}

	.section__title {
		margin-top: 60px;
		margin-bottom: 20px;
		text-align: left;
		font-size: 46px;
		font-family: "montserrat_bold";
		letter-spacing: 1px;
		@media screen and (max-width: 1024px) {
			margin-top: 40px;
			font-size:40px;
			margin-bottom: 40px;
		}		
		@media screen and (max-width: 480px) {
			margin-top: 40px;
			font-size:22px;
			text-align: center;
			margin-bottom: 40px;
		}
	}
	
	&__content{
		padding-left:60px;
		padding-right:60px;
	}


	&__content--bg, &__img {
		position: absolute;
		width: 50%;
		height: 100%;
		@media screen and (max-width: 831px) {
			display: none;
		}
	}


	&__content--bg {
		left: 0;
		background-color: $text-blue;		
	}


	&__img {
		right: 0;
		background-image: url('assets/img/events_img.jpg');
		background-size: 250%;
		background-position: 90% 50%;
		background-repeat: no-repeat;
		
		@media screen and (max-width: 1440px) {
			background-size: 300%;
		}
		
		@media screen and (min-width: 768px) and (max-width: 1160px) {
			background-position: 80% 50%;
		}
		@media screen and (min-width: 931px) and (max-width: 1160px) {
			background-size: 350%;			
		}
		@media screen and (min-width: 768px) and (max-width: 930px) {
			background-size: 450%;
		}

		&--mobile {
			display: none;
			@media screen and (max-width: 831px) {
				display: block;

				img {
					width: 100%;
				}
			}
		}
	}


	.container {
		@media screen and (max-width: 831px) {
			background-color: $text-blue;
		}
	}


	.button {
		margin: 40px 0 50px;
		border: 2px solid #fff;		
		color: #fff;
		
		&:hover{
			color: $text-blue;
			background: #FFF;
			text-decoration: none;
		}
		
		@media screen and (min-width: 832px) {
			font-size: 16px;
		}
		
		@media screen and (max-width: 1024px) {
			margin:20px 0 55px;
			font-size: 14px;
		}
		
		@media screen and (max-width: 480px) {
		    margin: 20px auto 40px;
		 }
	}
	
	.social{
		padding-left: 40px;
		padding-right: 40px;
	}
}




/*--------------------------------
	Event Item
----------------------------------*/
.event {
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: $bold;
	color: #fff;
	letter-spacing: 1px;
	
	@media screen and (max-width: 1024px) {
		font-size: 16px;
	}
	
	@media screen and (max-width: 831px) {
		font-size: 16px;
	}
	
	@media screen and (max-width: 480px) {
		margin-bottom:35px;
	}

	
	&__category {
		color: $green;
		margin-bottom: 15px;
		font-family: "montserratsemi_bold";	
		font-size:18px;	
	}


	&__date {
		margin-bottom: 0;
		font-family: $ssp;
		font-weight: $regular;
		font-family: "montserrat_light";		
	}


	&__title {
		color: #fff;	
		text-decoration: underline;
		font-family: "montserratsemi_bold";		
		
		&:hover{
			color:$green;
		}
	}	

}




