/*-----------------------------------
	Free Tools Section Layout
-------------------------------------*/
.free-tools {	
	margin-top: 0;
	padding: 60px 0 70px 0;
	font-family: 'montserratsemi_bold';
	background-color: $bg-grey;
	margin: 0px 0 60px;
	@media screen and (max-width: 831px) {
		padding: 40px 0;
	}
	@media screen and (max-width: 600px) {
		padding: 40px 0 30px 0;
		margin: 0px 0 30px;
	}
	
	.section__title{
		margin-bottom:60px;
	}
	
}




/*-----------------------------------
	Individual Tool Items
-------------------------------------*/
.tool {
	width: 33.3%;
	max-width:380px;
	display: inline-block;	
	margin-left:  -5px;
	text-align: center;
	@media screen and (max-width: 831px) {
		width: 100%;
		max-width:100%;
		display: block;
		margin: 0;		
		text-align: left;
	}
	@media screen and (min-width: 360px) and (max-width: 831px) {
		padding: 0 55px;
	}
	@media screen and (max-width: 831px) {
		padding: 0 40px;
	}
			


	&__icon {
		margin-bottom: 35px;
		max-width:130px;
		@media screen and (max-width: 831px) {			
			display: inline-block;		
			margin-right: 20px;	
		}
		@media screen and (max-width: 614px) {
			width: 20%;
		}
	}


	&__link {	
		font-size: 18px;
		color: $text-blue;
		letter-spacing: 1px;
		@media screen and (max-width: 831px) {
			display: inline-block;
		}
		
		@media screen and (max-width: 600px) {
			display: inline-block;
			font-size: 15px;
			letter-spacing: normal;
		}

	}
}


