.header {
	position: relative;
	padding: 50px 0;
	min-height:230px;
	background-image: url('../wes/assets/img/header_img.jpg');
	background-size: cover;	
	background-repeat: no-repeat;
	background-position:right;	
	@media screen and (min-width: 960px) {
		height:420px;	
	}
	@media screen and (max-width: 1600px) {
		background-position: 70% 0;
	}
	@media screen and (min-width: 1120px) {
		height:420px;	
		margin-top: 200px;
	}	
	@media screen and (max-width: 1119px) {
		margin-top: 200px;
	}	
	@media screen and (max-width: 1040px) {	
		margin-top: 200px;
	}
	
	@media screen and (max-width: 1024px) {	
		margin-top: 160px;
	}
		
	@media screen and (max-width: 959px) {	
		margin-top: 0px;
	}		
	@media screen and (max-width: 832px) {
		margin-top: 2px;
	}
	@media screen and (max-width: 767px) {
		padding: 0;
		background-image: url('../wes/assets/img/header_img_mob.jpg');
		background-position: 100% 0;		
	}


	&__cta {
		float: none;
		margin-bottom: 50px;
		margin-left:100px;
		width: 430px;
		@media screen and (max-width: 1600px) {
			padding-left:40px;
		}
		
		@media screen and (max-width: 1024px) {
			margin-left:50px;
		}
		
		@media screen and (max-width: 831px) {
			padding-left:20px;
			
			&:first-child {
				margin-bottom: 20px;
				padding-top: 20px;
			}

			&:last-child {
				margin-bottom: 40px;
			}
		}
		
		@media screen and (max-width: 831px) {
			margin-left: 10px;	
		}

		p {
			margin-bottom: 15px;
			font-size: 22px;
			font-family: "montserrat_light";
			font-weight: $regular;
			color: $text-blue;
			text-align: center;
			letter-spacing: 1px;
			
			@media screen and (max-width: 1160px) {
				width: 350px;
				font-size: 18px;
				margin-bottom:8px;					
			}
			
			@media screen and (max-width: 831px) {
				width: 350px;
				font-size: 18px;
				margin-bottom:8px;					
			}
			
			@media screen and (max-width: 520px) {
				font-size: 14px;
				width:160px;	
				letter-spacing: normal;
			}
		}

		a {
			font-size: 24px;
			font-family: "montserratsemi_bold";
			font-weight: $bold;
			color: $green;
			border: 2px solid $green;
			text-decoration: none;
			letter-spacing: 1px;
			@media screen and (max-width:1440px){
				background-color: rgba(255,255,255,0.5);
			}
			@media screen and (max-width: 1160px) {
				font-size: 24px;
				border: 2px solid $green;
				width:340px;
				padding: 10px 5px;
			}			
			@media screen and (max-width: 831px) {
				font-size: 22px;
			}			
			@media screen and (max-width: 768px) {
				background-color: transparent;
			}					
			@media screen and (max-width: 520px) {
				font-size: 18px;
				width:150px;
				padding: 4px 5px;
			}
			
			&:hover{
				background-color:$green;
				color:#FFFFFF;
			}			
		}
	}	
}