.testimonials {
	padding: 80px 0 60px;
	margin-bottom: 0;	
	text-align: center;
	font-family: 'montserrat_regular';
	background-color: $green;
	color: #fff;
	@media screen and (max-width: 831px) {
		padding: 40px 0 30px 0;
		margin-top: 0;
		margin-bottom: 2px;
	}

	&--wrapper {
		float: none;
		margin: 0 auto;
	}

	.quote {
		font-size: 24px;
		font-family: "montserrat_light";
		line-height: 40px;
		letter-spacing: 2px;
		@media screen and (max-width: 831px) {
			font-size: 16px;
			line-height:32px;
		}

		&__author {
			margin: 20px 0 0;
			font-size: 18px;
			font-family: "montserrat_light";
			@media screen and (max-width: 831px) {
				font-size: 16px;
			}
		}		
	}
}