.whats-new {

	margin:70px 0 0;
	
	@media screen and (max-width:600px){
		margin:30px 0 0;	
	}
	
	.posts {
		padding: 0 20px;
		text-align: center;
		
		@media screen and (max-width: 832px) {
			padding:0;	
		}		
	}

	
	.post {
		width: 33%;
		display: inline-block;		
		font-family: 'montserrat_regular';
		vertical-align: top;
		@media screen and (max-width: 831px) {
			width: 100%;
			display: block;
			margin-bottom: 2px;
		}
		
		&:first-child {
			@media screen and (min-width: 832px) {
				padding-right: 21px;
				padding-left: 4px;
				margin-left: -4px;
			}	
		}

		&:nth-child(2) {
			@media screen and (min-width: 832px) {
				padding-right: 12.5px;
				padding-left: 12.5px;
			}
		}

		&:last-child {
			@media screen and (min-width: 832px) {
				padding-left: 25px;
				margin-left: -4px;
			}
		}

		&__img {

			img {
				width: 100%;
			}			
		}

		&__title {
			padding: 15px 15px 35px 15px;
			font-size: 18px;			
			font-weight: $bold;
			background-color: #666;
			color: #fff;
			font-family: "montserrat_regular";
			text-align: left;
			@media screen and (max-width: 1200px) {
				padding: 15px;
				font-size: 16px;			
			}
		}

		&__tags {

			&__tag {
				margin-right: 10px;
				font-size: 16px;
				font-family: 'montserrat_light';
				color: #fff;
				text-decoration: underline;
				@media screen and (max-width: 1200px) {
					font-size: 16px;			
				}
			}
		}
	}	

}