.gen_page {
	@media screen and (min-width: 1281px) {
		margin-top: 230px;
	}
	@media screen and (min-width: 1025px) and (max-width: 1280px) {
		margin-top: 200px;
	}
	@media screen and (min-width: 960px) and (max-width: 1024px) {
		margin-top: 200px;
	}	

	p {
		a {
			font-weight: bold;
			color: $green;
			text-decoration: underline;
		}
	}


	.intro {
		margin-bottom: 60px;	
		@media screen and (max-width: 959px) {
			margin-top: 40px;
			margin-bottom: 40px;	
		}
		
		&__title {
			margin-bottom: 20px;
			@media screen and (min-width: 960px) and (max-width: 1024px) {
				font-size: 40px;
			}
			@media screen and (max-width: 959px) {
				font-size: 24px;
			}			
		}		

		&__content {
			font-family: $ssp;
			font-weight: regular;
			font-size: 18px;
			color: $text-blue;
			padding:0px 20px;
			@media screen and (min-width: 960px) and (max-width: 1024px) {
				font-size: 18px;
			}
			@media screen and (max-width: 959px) {
				font-size: 16px;
			}			
		}

		.button {
			margin: 45px auto 0;			
			font-size: 16px;
			color: $text-blue;
			border: 2px solid $text-blue;
			@media screen and (min-width: 960px) and (max-width: 1024px) {
				font-size: 18px;
			}
			@media screen and (max-width: 959px) {
				margin-top: 40px;
				font-size: 16px;
			}			

			&:hover {
				color: #fff;
				background-color: $text-blue;
				text-decoration: none;
			}
		}
	}


	.banner {
		position: relative;
		padding: 0;

		&__img, &__content--bg {
			position: absolute;
			width: 50%;
			height: 100%;

			@media screen and (max-width: 959px) {
				position: relative;
				width: 100%;
				height: auto;
			}
		}

		&__img {
			left: 0;			
			@media screen and (max-width: 959px) {
				display: none;
			}

			&--fullWidth {
				width: 100%;
				@media screen and (max-width: 959px) {
					display: none;
				}
			}			

			&__mob {
				
				img {
					width: 100%;
				}
			}
		}

		&__content {
			position: relative;
			width: 50%;
			margin-left: 50%;			
			padding: 60px 60px;
			@media screen and (max-width: 959px) {
				width: 100%;
				margin: 0;
				padding: 40px 20px;
			}

			&--fullWidth {
				width: 100%;
				margin-left: auto;
				padding: 60px 40px;
			}

			p {
				margin: 0 0 10px 0;
				font-size: 16px;
				text-align: left;
				color: #fff;
			}

			.title {
				font-family: 'montserratsemi_bold';
				font-size:18px;
				color: $green;
				@media screen and (max-width: 959px) {					
					text-align: center;
				}

				&--fullWidth {
					padding: 0;
				}
			}

			.copy {
				max-width: 600px;	
				color: #fff;			
				@media screen and (max-width: 959px) {
					max-width: 100%;
					padding: 0 20px;					
				}
				
				&--fullWidth {
					max-width: none;
					@media screen and (max-width: 959px) {
						padding: 0;						
					}

					p {
						padding: 0;
					}
				}
			}
		}
	}


	.page-content {
		margin: 0;

		&.hasTitle {
			@media screen and (min-width: 960px) {
				margin: 60px 0 0;
			}	
			@media screen and (max-width: 959px) {
				margin-top: 40px;
				margin-bottom: 0;
			}	
		}

		.section__title {
			@media screen and (min-width: 960px) {
				margin-bottom: 60px;
			}
			@media screen and (max-width: 1440px) {
				padding: 0 20px;
			}
			@media screen and (min-width: 960px) and (max-width: 1024px) {
				font-size: 40px;
			}
			@media screen and (max-width: 959px) {
				margin-bottom: 40px !important;
				font-size: 24px;

				span {
					display: block;
				}
			}
		}

		.item {
			padding-top: 60px;
			padding-bottom: 70px;
			color: $text-blue;			
			@media screen and (max-width: 959px) {
				padding-top: 20px;
				padding-bottom: 40px;
			}

			&__img, &__content {
				@media screen and (min-width: 960px) and (max-width: 991px) {
					width: 50%;
				}
			}

			&__img {				
				@media screen and (max-width: 959px) {
					display: none;
				}

				&--right {
					text-align: right;
				}
				
				img {
					width: 100%;
					margin-top: 25px;
				}

				&__mob {

					img {
						width: 100%;
					}
				}
			}			
			
			&__content{
				padding-right: 30px;
				padding-left: 30px;
			}

			.headline {
				margin-bottom: 0px;
				margin-top:20px;
				
				&__num {
					margin-right: 10px;
					font-family: 'montserrat_light';
					font-size: 70px;
					@media screen and (max-width: 959px) {						
						font-size: 50px;
					}
					@media screen and (min-width: 361px) and (max-width: 959px),
					(min-width: 960px) and (max-width: 1024px) {
						margin-right: 10px;						
					}
					@media screen and (max-width: 360px) {
						margin-right: 10px;						
					}

				}

				&__txt {
					display: inline-block;
					font-family: 'montserratsemi_bold';
					font-size: 22px;
					color: $green;					
					@media screen and (max-width: 959px) {
						font-size: 16px;
					}
					@media screen and (min-width: 490px) and (max-width: 959px) {
						margin-top: 25px;
						vertical-align: top;
					}
				}
			}

			.copy {
				margin-bottom: 35px;
				font-family: $ssp;
				font-weight: $regular;
				font-size: 18px;
				@media screen and (min-width: 960px) and (max-width: 1024px) {
					font-size: 18px;
				}
				@media screen and (max-width: 959px) {
					margin-bottom: 35px;
					font-size: 16px;
				}
				
				p{
					margin: 0 0 20px;
				}
			}

			&__cta {				
				@media screen and (max-width: 959px) {
					text-align: center;
				}
				
				.button {
					display: inline-block;
					padding: 6px 60px;
					font-family: 'montserratsemi_bold';
					font-size: 16px;
					text-align: left;
					color: $text-blue;
					border: 2px solid $text-blue;
					@media screen and (min-width: 960px) and (max-width: 1024px) {
						font-size: 16px;
					}
					@media screen and (max-width: 959px) {
						text-align: center;
						font-size: 14px;
					}

					&:hover {
						color: #fff;
						background-color: $text-blue;
						text-decoration: none;
					}
				}
			}
			
		}
	}

}