.button {		
	display: block;
	@include border-radius(50px);
	text-align: center;	

	&:hover, &:focus, &:active {
		text-decoration: none;
	}

	&--lg {		
		width: 360px;
		padding: 14px 5px;
		font-size: 40px;		
	}


	&--sm {
		width: 180px;
		padding: 6px 24px;	
		font-family: 'montserratsemi_bold';
		@media screen and (max-width: 831px) {
			width: 155px;
			padding-top: 8px;
			padding-bottom: 8px;
			font-size: 14px;
		}	
	}
}