/*-----------------------------------
	Carousel
-------------------------------------*/
.carousel {
	padding-bottom: 100px;
	@media screen and (max-width: 831px) {
		padding-bottom: 40px;

		&#quotes-slider {
			padding-bottom: 60px;			
		}
	}


	&-indicators {
		bottom: 0;

		li {
			width: 14px;
			height: 14px;
			margin: 0 30px;
			background-color: $text-blue;
			@media screen and (max-width: 680px){
				width:12px;
				height: 12px;
				margin: 0 15px;
			}

			&.active {
				width: 14px;
				height: 14px;
				margin: 0 30px;
				background-color: $green;
				
				@media screen and (max-width:680px){
					width:12px;
					height: 12px;
					margin: 0 15px;
				}
			}

			&.quotes {
				background-color: #fff;
				border: none;

				&.active {
					background-color: $text-blue;				
				}
			}					
		}

		&.quotes {
			@media screen and (max-width: 831px) {
				width: 100%;
				margin-left: -50%;
			}
		}
	}
	
	&-inner .item{
	    text-align: center;	
	}
}


/*-----------------------------------
	Carousel Controls
-------------------------------------*/
.carousel-control {		
	width: auto;
	opacity: 1;
	@media screen and (max-width: 831px) {
		display: none;
	}

	
	&.left {
		background-image: none !important;

		.glyphicon-chevron-left {
			left: 20px;
			margin-left: 0;			
			color: $text-blue;
		}
		
		.carousel_prev{
			width:40px;
			height:80px;
			background:url('/wp-content/themes/wes/assets/img/carousel_controls.png') no-repeat;
			margin-top:40px;
			margin-left:20px;
			
			@media screen and (max-width:1023px){
				width:20px;
				height:40px;
				background-size: 200%;
				margin-top: 60px;
			}
		}
	}
	
	
	&.right {
		background-image: none !important;

		.glyphicon-chevron-right {
			right: 20px;
			margin-right: 0;			
			color: $text-blue;
		}
		
		.carousel_next{
			width:40px;
			height:80px;
			background:url('/wp-content/themes/wes/assets/img/carousel_controls.png') no-repeat right;
			margin-top:40px;
			margin-right:20px;
			
			@media screen and (max-width:1023px){
				width:20px;
				height:40px;
				background-size: 200%;
				margin-top: 60px;
			}
		}
	}
	
}