/*--------------------------
	Color Variables
---------------------------*/

$green: #05ce7b;
$text-blue: #003763;
$banner-blue: #09355a;
$grey: #e9e8e6;
$border-grey: #dad8d6;
$bg-grey: #f0efef;



/*--------------------------
	Global Classes - for backgrounds, etc.
---------------------------*/
.bg_grey {
	background-color: #f4f3f3;
}