/*------------------------------------
  Break - Global
--------------------------------------*/
.break {
  display: block;
}




/*------------------------------------
  Show/Hide - Global
--------------------------------------*/
.show {
  display: block;
}

.hide {
    display: none;
}



/*------------------------------------
  Opacity - Global
--------------------------------------*/
.opaque {
	opacity: 0.5;

	&--nav_display {
		opacity: 0.1;	
	}
}



/*------------------------------------
  No Scroll
--------------------------------------*/
.no_scroll {
	overflow: hidden;
}	