/*------------------------------------
  DOM Element Layouts
--------------------------------------*/

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  
  &.noScroll{
	  overflow:hidden !important;
	  height:100%;
	  width:100% !important;
  }
}


/***********************************
    Overwrite Bootstrap Defaults
************************************/
.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;  
  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: 100%;
    max-width: 1440px;
  }

}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 20px;
  padding-left: 20px;
}




/*------------------------------------
  Sections
--------------------------------------*/
.section {
  margin: 100px 0;
  @media screen and (max-width: 831px) {
    margin: 40px 0;
  }


    &__title {
      margin-bottom: 60px;
      text-align: center;
      font-size: 46px;
      font-family: "montserrat_light";
      font-weight: $regular;
      color: $text-blue;
      letter-spacing: 2px;
      @media screen and (max-width: 831px) {
        font-size: 40px;
        margin-bottom: 40px;
      }
      
      @media screen and (max-width: 600px) {
        font-size: 24px;
        margin-bottom:30px !important;
      }

      &--green {
        color: $green;
      }
      
      span {
	      font-family: "montserratsemi_bold";
        font-weight: $bold;
        color: $green;  
      }
    }
}




/*------------------------------------
  Desktop/Mobile Display - Global
--------------------------------------*/
.desktop {
  @media screen and (max-width: 959px) {
    display: none !important;
  }  
}
  

.mobile {
  @media screen and (max-width: 959px) {
    display: block;

    &--inline {
      display: inline-block;
    }
  } 

  @media screen and (min-width: 960px) {
    display: none !important;
  } 
}

