body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*-----------------------
	Fonts
------------------------*/

// BOOTSTRAP GLYPHICONS
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.eot');
  src: font-url('/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.woff ') format('woff'),
       font-url('/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.ttf ') format('truetype'),
       font-url('/wp-content/themes/wes/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


// MONTSERRAT
@font-face {
    font-family: 'montserrat_regular';
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.eot');
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.woff2') format('woff2'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.woff') format('woff'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.ttf') format('truetype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_light';
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.eot');
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.woff2') format('woff2'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.woff') format('woff'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.ttf') format('truetype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.eot');
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.woff2') format('woff2'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.woff') format('woff'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.ttf') format('truetype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_bold';
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.eot');
    src: url('/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.woff') format('woff'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.ttf') format('truetype'),
         url('/wp-content/themes/wes/assets/fonts/montserrat_bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


// SOURCE SANS PRO
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
$ssp: 'Source Sans Pro';





/*------------------------
	Typography
--------------------------*/
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


