/*-------------------------------------
	Social Icons - Footer
---------------------------------------*/
.social {
    
	@media screen and (max-width: 736px){
		text-align: center;
	}


	&--wrapper {
		@media screen and (max-width: 831px) {
			margin-bottom: 40px;
		}
	}
	

	a {		
		display: inline-block;
		width: 30px;
		height: 30px;		
		background-image: url('assets/img/social_sprite.png');
		background-size:1200%;
		@media screen and (min-width: 1100px) {
			margin-right: 10px;
		}
		
		@media screen and (min-width: 737px) and (max-width: 1099px) {
			margin-right: 10px;
		}
		@media screen and (max-width: 1280px) {
			width: 30px;
			height: 0;
			padding-bottom: 30px;
			margin-right: 10px;
			background-size: 1200%;
		}
		


		&.twitter {
			background-position: 0 0;			
		}

		&.linkedin {
			background-position: -56px 0;
			@media screen and (max-width: 1280px) {
				background-position: 17% 0;
			}
		}

		&.blog {
			background-position: -111px 0;
			@media screen and (max-width: 1280px) {
				background-position: 34% 0;
			}
		}

		&.facebook {
			background-position: -168px 0;

			/*
			@media screen and (max-width: 1280px) {
				background-position: 51% 0;
			}
			*/
		}

		&.youtube {
			background-position: -224px 0;

			/*
			@media screen and (max-width: 1280px) {
				background-position: 68% 0;
			}
			*/
		}

		&.vimeo {
			background-position: -280px 0;

			/*
			@media screen and (max-width: 1280px) {
				background-position: 85% 0;
			}
			*/
		}				
	}
	
}
