.footer {
	padding: 100px 0;
	font-size: 16px;
	font-family: 'montserrat_regular';
	background-color: #666;
	color: #fff;
	@media screen and (max-width: 831px) {
		padding: 40px 0;
		font-size: 16px;
	}


	&__menu {
		margin-bottom: 80px;		
		@media screen and (max-width: 831px) {
			margin-bottom: 0;
		}
	}


	&__col {		
		@media screen and (min-width: 832px) and (max-width: 991px) {
			width: 25%;			
		}
		
		.col-title {
			margin-bottom: 25px;
			font-size: 18px;
			font-weight: bold;	
			letter-spacing: 1px;		
			@media screen and (max-width: 831px) {
				display: inline-block;
				margin: 15px 0;
				font-size: 16px;								
			}			

			&--wrapper {
				position: relative;
				cursor: pointer;
				@media screen and (max-width: 831px) {
					border-bottom: 1px solid #999;
				}				

				.glyphicon {					
					display: none;
					position: absolute;
					top: 50%;
					right: 20px;
					@include transform(translateY(-50%));
					@media screen and (max-width: 831px) {
						display: block;
					}
				}
			}				
		}

		ul {
			padding: 0;
			list-style: none;
			@media screen and (max-width: 831px) {
				display: none;
				margin-top: 10px;
			}

			li {
				margin-bottom: 25px;
				@media screen and (max-width: 831px) {
					margin-bottom: 10px;
					font-size: 14px;
				}

				a {
					color: #fff;
				}
			}
		}
	}


	&__cta {
		margin-bottom: 100px;		
		@media screen and (max-width: 831px) {
			margin-bottom: 40px;
		}	
	}


	&__social {
		@media screen and (max-width: 991px) {
			width: 100%;
		}

		.social {
			margin: 10px 0;
			text-align: left;		
			@media screen and (max-width: 831px) {
				display: none;
			}			
		}
	}


	&__links {
		font-size: 14px;
		letter-spacing: 1px;
		ul {
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				padding: 0 15px;
				@media screen and (max-width: 831px) {					

					&.priv_pol {
						padding-left: 0;
						border-right: 1px solid #fff !important;							
					}

					&.terms_cond {
						padding: 0 0 0 15px;
					}

					&.copyright {
						display: block;
						padding-left: 0;
					}

					&.site_map {
						display: none;
					}
				}
				@media screen and (max-width: 359px) {
					&.priv_pol {
						padding-right: 7px;					
					}

					&.terms_cond {
						padding: 0 0 0 7px;
					}
				}

				&:first-child {
					padding-left: 0;	
				}
				
				&:not(:last-child) {
					border-right: 1px solid #fff;
					@media screen and (max-width: 831px) {
						border-right: none;
					}
				}

				a {
					color: #fff;
				}
			}
		}
	}
}