/*--------------------
	Desktop
----------------------*/
.nav__search__box{
	position:relative;
	background: $border-grey;
	padding: 18px 6px 18px 18px;
	width:100%;		
	@media screen and (max-width:1200px){
		padding: 16px 0px 16px 16px;
	}
					
	input{
		display:inline-block;
		border:none;
		outline: none;
		&::-ms-clear {
			display: none;
		}
		
		&.nav--search{
			font-family: 'montserrat_regular';
			font-size:18px;
			color:#999;
			padding:16px;
			border: none;
			width:74%;
			margin-left: 3px;
			
			@media screen and (max-width:1200px){
				width:72%;
				font-size: 18px;
				padding: 14px;
			}
		}
		
		&.nav--search--button{
			font-family: 'montserrat_regular';
			font-size:18px;
			color:#FFF;
			background: $green;
			padding:16px;
			width:20%;
			border: none;
			margin-left: -3px;
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				padding-top: 11px !important;
				vertical-align: bottom;
			}			
			@media screen and (max-width:1200px){
				font-size: 18px;
				padding: 14px;
			}
		}
	}
	
	.nav--search--close{
		width:5%;
		display: inline-block;
		position: relative;
		
		@media screen and (max-width:1200px){
			width:6%;
		}
		
		.btn{
			width:36px;
			height:36px;
			position:absolute;
			left:50%;
			top:-26px;
			margin-left:-20px;
			background: url('/wp-content/themes/wes/assets/img/icon_search_close.png') center center no-repeat;
			background-size: contain;
		}
	}
}



/*--------------------
	Mobile
----------------------*/
.mobile__search{
	width:26px;
	height:26px;
	background: url('/wp-content/themes/wes/assets/img/icon_search.png') no-repeat;
	background-size: contain;
	position: absolute;
	right:20px;
	top:50%;
	margin-top:-13px;
	cursor: pointer;
	
	&__box{
		background:$border-grey;
		padding: 20px;
		position: absolute;
		left:0px;
		top:100%;
		width:100%;
		display: none;
		
		input{
			display:block;
			font-family: "montserrat_regular";
			border:none;
			width:100%;
			outline: none;
			&::-ms-clear {
				display: none;
			}
			
			&[type='text']{
				font-size:18px;
				color:#999;
				padding: 12px;
			}
			
			&[type="submit"]{
				background: $green;
				color:#FFF;
				font-size:14px;
				margin-top: 10px;
				padding:16px;
			}
		}
		
		.mobile--search--close{
			position:absolute;
			right: 30px;
			top: 34px;
			width:20px;
			height:20px;
			cursor: pointer;
			background: url('/wp-content/themes/wes/assets/img/icon_search_close.png') center center no-repeat;
			background-size: contain;
		}
	}
}
